<template>
  <div class="app-wrapper">
    <loading />
    <div class="app-menu">
      <div class="app-menu-logo">
        <router-link to="/"
          ><img src="./../../assets/icons/logo.min.svg" alt="Logo Cubo"
        /></router-link>
      </div>
      <div class="app-menu-links">
        <router-link to="/prehled" class="menu-link">Přehled</router-link>
        <router-link to="/ukoly" class="menu-link">Úkoly</router-link>
      </div>
      <div class="app-menu-actions">
        <router-link to="/nastaveni-profilu" class="app-menu-action ">
          <span class="action-icon"><i class="icon-user"></i></span>
          <span class="action-text">{{ userName }}</span>
        </router-link>

        <div class="app-menu-action" v-on:click="logout()">
          <span class="action-icon"><i class="icon-sign-out"></i></span>
          <span class="action-text">Odhlásit</span>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
  </div>
</template>
<script>
export default {
  name: "CuboApp",
  data() {
    return {
      userName: "",
    };
  },
  components: { loading: () => import("@/components/basic/Loading.vue") },
  methods: {
    logout() {
      this.$store
        .dispatch("user/logout")
        .then(() => {
          this.$router.push("/prihlaseni");
        })
        /*eslint-disable */
        .catch((error) => {
          console.log(this.error);
        });
    },
  },
  mounted() {
    this.userName = JSON.parse(localStorage.getItem("user")).nickname;
  },
};
</script>
<style lang="scss">
$hover-color: #0f2f4e;
.app-wrapper {
  width: 100%;
  background-color: white;
  position: relative;
  min-height: calc(100% - 160px);
  height: 100vh;
}

.app-menu {
  height: 70px;
  width: 100%;
  padding: 0 1rem 0 1.5rem;
  background-color: $primary-dark-color;
  color: white;
  display: grid;
  grid-template-columns: 65px auto auto;
  grid-template-rows: 70px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.app-menu-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-link {
  color: white;
  letter-spacing: 1px;
  text-decoration: none;

  font-weight: 400;
  padding: 1rem;
  height: 100%;
  line-height: 32px;
  font-size: 0.95rem;

  &.router-link-active {
    background-color: $hover-color;
  }

  &:hover {
    background-color: $hover-color;
  }
}

.app-menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.3rem;
  height: 70px;

  a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
  }
  img {
    max-height: 3rem;
  }
}

.app-menu-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-menu-action {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0.7rem 1rem 0.7rem 1rem;
  height: 100%;
  cursor: pointer;

  span {
    display: block;
  }

  &:hover {
    background-color: $hover-color;
  }
}

.action-icon {
  font-size: 1.5rem;
  //margin-bottom: 5px;
}

.action-text {
  font-size: 0.68rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.content-wrapper {
  padding: 0 1rem;
  //max-width: 1050px;
  margin: 0 auto;
  //min-height: calc(100% - 140px);
  min-height: calc(100vh - 70px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
