<template>
  <div class="ide-wrapper">
    <div id="ide">
      <toolbar :visibility="true" />
      <sidepanel :visibility="true" />
      <blocklyComponent />
    </div>
    <splashScreen :loading="loading" />
  </div>
</template>
<script>
import toolbar from "@/components/ide/Toolbar.vue";
import blocklyComponent from "@/components/ide/BlocklyComponent.vue";
import sidepanel from "@/components/ide/Sidepanel.vue";
import splashScreen from "@/components/ide/SplashScreen";

export default {
  name: "IDE",
  components: {
    toolbar,
    blocklyComponent,
    sidepanel,
    splashScreen,
  },
  data() {
    return { loading: true };
  },
  mounted() {
    setTimeout(() => {
      this.loading = false;
    }, 700);
  },
};
</script>

<style>
.ide-wrapper {
  height: 100%;
}
#ide {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: relative;
  /*min-height: 700px;*/
}
</style>
