<template>
  <div id="app">
    <component :is="layout" />
    <loading />
  </div>
</template>
<script>
const defaultLayout = "default";

export default {
  components: {
    loading: () => import("@/components/basic/Loading.vue"),
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || defaultLayout) + "-layout";
    },
  },
};
</script>

<style lang="scss">
@font-face {
  font-family: Arimo;
  src: url("assets/fonts/Arimo-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("assets/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FredokaOne;
  src: url("assets/fonts/FredokaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#app {
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}
</style>
