<template>
  <div
    id="blocklyDiv"
    ref="blocklyDiv"
    :class="[{ full: $store.getters['editor/openPanel'] }]"
  >
    <div id="editorb" ref="editorb"></div>
  </div>
</template>
<script>
import Blockly from "blockly";
//import * as Cs from "blockly/msg/cs";
import "@/blockly/msg";

import "@/blocks/canvas";
import "@/blocks/lines";
import "@/blocks/shapes";
import "@/blocks/text";
import "@/blocks/variables";

import "@/blockly/customDialog";
import { toolbox } from "@/blockly/toolbox.js";
import ResizeObserver from "resize-observer-polyfill";

export default {
  name: "BlocklyComponent",
  data() {
    return {
      workspace: null,
    };
  },
  methods: {
    init: function() {
      this.workspace = Blockly.inject(this.$refs["blocklyDiv"], {
        trashcan: true,
        scrollbars: true,
        comments: false,
        grid: {
          spacing: 25,
          length: 2,
          color: "#fafafa",
          snap: true,
        },
        zoom: {
          controls: false,
          wheel: false,
          minScale: 0.5,
          maxScale: 1.75,
          scaleSpeed: 1.2,
        },
        media: process.env.BASE_URL + "media/",
        toolbox: toolbox,
      });
      //Blockly.setLocale(Cs);

      try {
        this.$store.dispatch("editor/setWorkspace", this.workspace);
      } catch (error) {
        alert("Nepodařilo se inicializovat pracovní plochu.");
      }
    },
    resizingWorkspace: function() {
      var blocklyArea = this.$refs["blocklyDiv"];
      var blocklyDiv = this.$refs["editorb"];
      var element = blocklyArea;

      if (element !== undefined) {
        blocklyDiv.style.width = blocklyArea.offsetWidth + "px";
        blocklyDiv.style.height = blocklyArea.offsetHeight + "px";
      }

      Blockly.svgResize(this.workspace);
    },
  },
  mounted() {
    this.init();
    var bc = this;
    /* eslint-disable */
    const ro = new ResizeObserver((entries, observer) => {
      bc.resizingWorkspace();
    });

    ro.observe(this.$refs["blocklyDiv"]);

    this.$refs["blocklyDiv"].addEventListener("transitionend", function() {
      bc.resizingWorkspace();
    });

    this.$root.$on('clickedSomething', () => {
      this.resizingWorkspace()
    })


    var localCode = localStorage.getItem("code");
    if (localCode !== null) {
      var workspace = this.$store.getters["editor/workspace"];
      var xml = Blockly.Xml.textToDom(localCode);
      Blockly.Xml.domToWorkspace(xml, workspace);
    }

    var s = localStorage.getItem("saving");
    if (s === null) {
      localStorage.setItem("saving", true);
    } else {
      this.$store.commit("editor/setSaving", s);
    }

    var o = localStorage.getItem("opening");
    console.log(o);
    if (o === null) {
      localStorage.setItem("opening", true);
    } else {
      this.$store.commit("editor/setOpening", s);
    }

    /* eslint-enable */
  },
  ready: function() {
    window.addEventListener("resize", this.resizingWorkspace);
  },
};
</script>

<style lang="scss">
#blocklyDiv {
  width: calc(100% - #{$tabs} - 1em);
  height: calc(100% - #{$toolbar});
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  position: relative;
  float: left;

  &.full {
    width: calc(65% - 1em);
  }
}

#editorb {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 1px solid $border-color;
}

@media only screen and (max-width: 1000px) {
  #blocklyDiv {
    width: calc(100% - #{$tabs} - 0.5em);
    &.full {
      width: calc(60% - 0.5em);
    }
  }
}

@media only screen and (max-width: 800px) {
  #blocklyDiv {
    width: calc(100% - 5px);
    height: 100%;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    position: relative;
    float: left;

    &.full {
      width: calc(100% - 5px);
    }
  }
}
</style>
