<template>
  <div class="overlay-canvas">
    <canvas id="ecanvas" ref="ecanvas" width="400" height="400" />
    <canvas id="bcanvas" ref="bcanvas" width="1" height="1" />
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "CanvasComponent",
  mounted() {
    var r = this;
    this.$root.$on("updateCanvas", () => {
      r.updateCanvas();
    });

    this.$root.$on("clearCanvas", () => {
      r.clearCanvas();
    });

    this.$root.$on("setBackgroundCanvas", (bg) => {
      var img = new Image();
      img.src = bg;
      if (this.$refs.bcanvas) {
        var ctx = this.$refs.bcanvas.getContext("2d");

        img.onload = () => {
          ctx.canvas.width = 400;
          ctx.canvas.height = 400;
          ctx.globalAlpha = 0.25;
          ctx.drawImage(img, 0, 0);
          ctx.globalAlpha = 1;
        };
      }
    });

    this.updateCanvas();
  },
  computed: mapState(["canvasActions"]),
  methods: {
    updateCanvas() {
      var c = this.$store.getters["editor/canvas"];
      if (c && this.$refs.ecanvas) {
        var ctx = this.$refs.ecanvas.getContext("2d");
        ctx.canvas.width = c.width;
        ctx.canvas.height = c.height;
        ctx.canvas.style.backgroundColor = c.style.backgroundColor;
        ctx.drawImage(c, 0, 0);
        this.$store.commit(
          "editor/setImage",
          ctx.getImageData(0, 0, c.width, c.height)
        );
      }
    },
    clearCanvas() {
      if (this.$refs.ecanvas) {
        var ctx = this.$refs.ecanvas.getContext("2d");
        ctx.canvas.width = 400;
        ctx.canvas.height = 400;
        ctx.canvas.style.backgroundColor = "white";
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
      }
    },
  },
};
</script>

<style lang="scss">
#ecanvas {
  margin-top: 1rem;
  border: 1px solid $primary-dark-color;
  //position: absolute;
}

#bcanvas {
  margin-top: 1rem;
  position: absolute;
  //border: 1px solid black;
  top: 0;
  left: 0;
}

.overlay-canvas {
  position: relative;
}
</style>
