<template>
  <div class="sidepanel" :class="[{ active: open !== null }]" ref="sidepanel">
    <div class="panel-tabs">
      <button
        v-for="(tab, index) in tabs"
        :key="tab"
        :class="[
          'panel-tab',
          { active: selected === tab },
          { hiddenTab: tab === 'Settings' && !visibility },
        ]"
        @click="
          selected = tab;
          togglePanel();
        "
      >
        {{ tabsName[index] }}
      </button>
    </div>
    <div v-show="toggle" class="panel-tab-content">
      <Output v-show="selected === 'Output'" />
      <Debug v-show="selected === 'Debug'" />
      <Canvas v-show="selected === 'Canvas'" />
      <Settings v-show="selected === 'Settings'" v-if="visibility" />
      <Help v-show="selected === 'Help'" />
    </div>
  </div>
</template>
<script>
import Output from "@/components/ide/tabs/Output.vue";
import Debug from "@/components/ide/tabs/Debug.vue";
import Canvas from "@/components/ide/tabs/Canvas.vue";
import Help from "@/components/ide/tabs/Help.vue";
import Settings from "@/components/ide/tabs/Settings.vue";

export default {
  name: "Sidepanel",
  props: ["visibility"],
  data: function() {
    return {
      tabs: ["Output", "Canvas", "Debug", "Settings", "Help"],
      tabsName: ["Výstup", "Plátno", "Ladění", "Nastavení", "Nápověda"],
      selected: "null",
      open: null,
      toggle: false,
    };
  },
  components: {
    Help,
    Settings,
    Output,
    Debug,
    Canvas,
  },
  methods: {
    togglePanel() {
      if (this.open == null) {
        // open panel
        this.open = this.selected;
        this.toggle = true;
        this.$store.commit("editor/openPanel", true);
      } else {
        if (this.open === this.selected) {
          // close panel
          this.open = null;
          this.selected = null;
          this.$store.commit("editor/openPanel", false);
        } else {
          // change tab
          this.open = this.selected;
        }
      }
    },
  },
  mounted() {
    var sp = this;
    this.$refs["sidepanel"].addEventListener("transitionend", function() {
      if (!sp.$store.getters["editor/openPanel"]) {
        this.toggle = !this.toggle;
      }
    });

    this.$root.$on("openOutputTab", () => {
      sp.selected = "Output";
      sp.togglePanel();
    });

    this.$root.$on("openOutputTabFromAnother", () => {
      //sp.selected = "Output";
      //sp.togglePanel();
      //sp.togglePanel();
    });
  },
};
</script>

<style lang="scss">
.sidepanel {
  width: $tabs;
  height: calc(100% - #{$toolbar});
  float: right;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.6s ease-in-out;
  transition: width 0.5s ease-in-out;
  overflow: hidden;

  &.active {
    width: 35%;
  }
}

.panel-tabs {
  width: $tabs;
  height: 100%;
  float: left;
  overflow: hidden;
}

.panel-tab {
  user-select: none;
  height: $tabs;
  width: 6rem;
  margin: 0;
  border: 0;
  font-size: 0.7rem;
  outline: 0;
  margin: 0 0 4rem 0;
  padding: 1px 6px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px 2px 0 0;
  color: white;
  font-weight: 600;
  font-family: "OpenSans", Helvetica, Arial, sans-serif !important;
  background-color: $primary-dark-color;
  transform-origin: 0 0;
  transform: translate(0, $tabs * 3) rotate(270deg);
  &.active {
    background-color: darken($primary-color, 10%);
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
.hiddenTab {
  display: none;
}
.panel-tab-content {
  height: 100%;
  width: calc(100% - #{$tabs});
  float: left;
  background-color: white;
  border-left: 3px solid $primary-dark-color;
  padding: 0.5em;
  overflow: auto;
}
@media only screen and (max-width: 1000px) {
  .sidepanel {
    &.active {
      width: 40%;
    }
  }
}
@media only screen and (max-width: 800px) {
  .sidepanel {
    width: 100%;
    height: 2.2rem;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.6s ease-in-out;
    transition: height 0.5s ease-in-out;
    font-size: 0.7rem;

    &.active {
      width: 100%;
      min-height: 300px;
      float: left;
      border-bottom: 3px solid $primary-dark-color;
    }

    //transform: scale(0.5) translate(-100%, -100%);
  }

  .panel-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 3rem;
    padding-top: 5px;
    height: 2.22rem;
    border-bottom: 3px solid $primary-dark-color;
  }
  .panel-tab {
    -webkit-transform: none; /* Safari and Chrome */
    -moz-transform: none; /* Firefox */
    -ms-transform: none; /* IE 9 */
    -o-transform: none; /* Opera */
    transform: none;
    height: 2rem;
    width: 5.5rem;
    font-size: 0.6rem;
  }

  .panel-tab-content {
    width: 100%;
    border-left: 0;
    min-height: 300px;
    max-height: 400px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
  }
}
</style>
