<template>
  <div class="splash-screen" :class="{ fadeout: !loading }">
    <img src="../../assets/icons/logo.min.svg" alt="Logo aplikace Cubo" />
    <p>CUBO</p>
  </div>
</template>

<script>
export default {
  name: "SplashScreen",
  props: { loading: { type: Boolean } },
};
</script>

<style lang="scss">
.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 10001;
  overflow: hidden;

  color: white;
  background-color: $primary-dark-color;

  img {
    height: 5rem;
    width: 5rem;
  }

  p {
    font-family: FredokaOne, OpenSans, Arial, sans-serif;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.fadeout {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  height: 0;
}

@-webkit-keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
</style>
