<template>
  <div class="toolbar">
    <div class="ide-logo" v-if="visibility">
      <router-link to="/"
        ><img src="../../assets/icons/logo.min.svg" alt="logo Cubo"
      /></router-link>
    </div>

    <div class="program-name" v-if="visibility">
      <input
        ref="title"
        v-model="name"
        type="text"
        placeholder="Název programu"
        :class="['name-input', isNameValid()]"
        maxlength="30"
      />
    </div>

    <file :title="name" :name-error="nameError" v-if="visibility" />
    <separator v-if="visibility" />
    <edit />
    <separator />
    <cview />
    <separator />
    <run :visibility="visibility" />
  </div>
</template>

<script>
export default {
  name: "Toolbar",
  props: ["visibility"],
  components: {
    separator: () => import("../basic/Separator.vue"),
    file: () => import("./actions/File.vue"),
    edit: () => import("./actions/Edit.vue"),
    cview: () => import("./actions/View.vue"),
    run: () => import("./actions/Run.vue"),
  },
  data: function() {
    return {
      name: "",
      nameError: false,
      status: "",
      //reg: /^([ě,š,č,ř,ž,ý,á,í,é,ů,ň,ú,',\w,\s_\\.\-\\(\\):]){1,30}$/,
      reg: /^([^<>:"/\\*?|]+){1,30}$/,
    };
  },
  mounted() {
    this.$root.$on("changeName", (value) => {
      this.name = value;
    });
  },
  methods: {
    isNameValid() {
      if (this.name === "") {
        this.nameError = false;
        return "c-name-success";
      } else {
        if (this.reg.test(this.name)) {
          this.nameError = false;
          return "c-name-success";
        } else {
          this.nameError = true;
          return "c-name-error";
        }
      }
    },
  },
};
</script>

<style lang="scss">
.toolbar {
  width: 100%;
  max-width: 100%;
  height: $toolbar;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ide-logo {
  width: 110px;
  height: 100%;
  //border-right: 1px solid $border-color;
  background-color: $primary-dark-color;
  text-align: center;
  height: $toolbar;
  img {
    height: $toolbar;
    width: 100%;
    padding: 0.6rem 0;
    vertical-align: middle;
  }
}

.program-name {
  max-height: $toolbar;
}

.name-input {
  border: 0;
  outline: 0;
  font-size: 0.89em;
  margin: 1em;
  padding: 0 0 2px 3px;
  background-color: transparent;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  width: 10rem;
  &:focus {
    border-bottom: 2px solid $primary-color;
  }
}

.c-name-success {
  border-bottom: 2px solid $primary-dark-color;

  &:focus {
    border-bottom: 2px solid $primary-color;
  }
}

.c-name-error {
  border-bottom: 2px solid $danger-color;
  &:focus {
    border-bottom: 2px solid $danger-color;
  }
}

@media only screen and (max-width: 1050px) {
  .toolbar .cicon i {
    font-size: 1.3rem;
  }

  .name-input {
    width: 7.5rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 950px) {
  .toolbar .cicon i {
    font-size: 1.1rem;
  }

  .name-input {
    width: 7rem;
    font-size: 0.8rem;
  }
  .ide-logo {
    background-color: white;
    width: 55px;
    border-bottom: 1px solid $border-color;
    //border-right: 1px solid $border-color;
  }
}

@media only screen and (max-width: 850px) {
  .toolbar {
    height: 5.7rem;
    border: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
  }

  .name-input {
    width: 7rem;
    font-size: 0.8rem;
  }

  .ide-logo {
    width: 45px;
    border-bottom: 0;
    //border-right: 1px solid $border-color;
  }
}
</style>
