<template>
  <div class="c-workspace">
    <toolbar :visibility="show" />
    <sidepanel :show="show" />
    <blockly />
  </div>
</template>

<script>
import blockly from "@/components/ide/BlocklyComponent.vue";
import sidepanel from "@/components/ide/Sidepanel.vue";
import toolbar from "@/components/ide/Toolbar.vue";
export default {
  name: "Workspace",
  components: {
    toolbar,
    sidepanel,
    blockly,
  },
  props: ["show"],
  mounted() {},
};
</script>
<style lang="scss">
.c-workspace {
  width: 100%;
  height: 720px;
  background-color: $light-color;
  min-height: 720px;
  border: 1px solid $border-color;
  margin-bottom: 1rem;
}
</style>
