<template>
  <div class="login">
    <loading />
    <div
      class="h-95 d-flex justify-content-center align-items-center flex-column "
    >
      <div class="card">
        <div class="card-header auth-header">
          <router-link to="/">
            <img
              src="../../assets/icons/logo.min.svg"
              alt="logo Cubo"
              class="auth-logo"
            />
          </router-link>
          <h2>Přihlášení</h2>
        </div>
        <div class="card-body" v-if="!user">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              v-model="email"
              v-validate="'required|email'"
              id="email"
              name="email"
              class="form-control"
              :class="{ 'is-invalid': errors.has('email') }"
            />
            <div class="feedback">
              <div v-if="errors.has('email')" class="invalid-feedback">
                {{ errors.first("email") }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Heslo</label>
            <input
              type="password"
              v-model="password"
              v-validate="{
                required: true,
                min: 8,
                regex:
                  '^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})',
              }"
              id="password"
              name="password"
              class="form-control"
              :class="{ 'is-invalid': errors.has('password') }"
            />
            <div class="feedback">
              <div v-show="errors.has('password')" class="invalid-feedback">
                {{ errors.first("password") }}
              </div>
            </div>
          </div>

          <!--<p class="text-right small my-2">
            <router-link to="zapomenute-heslo" class="auth-link"
              >Nemůžete se přihlásit?</router-link
            >
          </p> -->
          <div class="form-group feedback">
            <div v-if="error" class="invalid-feedback">
              {{ error }}
            </div>
          </div>
        </div>
        <div class="card-footer login-footer" v-if="!user">
          <button expanded class="btn my-2" v-on:click="login()">
            Přihlásit se
          </button>
          <p class="text-center small my-0">
            Pokud ještě nemáte účet, tady si ho
            <router-link to="registrace" class="auth-link"
              >vytvoříte</router-link
            >.
          </p>
        </div>

        <div class="card-body text-center" v-if="user">
          Již jste přihlášeni jako
          <router-link to="/nastaveni-profilu" class="auth-link">{{
            userName
          }}</router-link>
          můžete pokračovat do
          <router-link to="prehled" class="auth-link">aplikace</router-link>
          nebo se <span @click="logout" class="auth-link">odhlásit</span>.
        </div>
      </div>
    </div>
    <cfooter />
  </div>
</template>
<script>
import AuthService from "@/services/AuthService";
export default {
  name: "Login",
  components: {
    //cbutton: () => import("@/components/basic/Button.vue"),
    cfooter: () => import("@/components/basic/Footer.vue"),
    loading: () => import("@/components/basic/Loading.vue"),
  },
  data() {
    return {
      email: "",
      password: "",
      submitted: false,
      user: false,
      userName: "",
      error: "",
    };
  },

  methods: {
    login() {
      this.submitted = true;
      this.$store.commit("loading/showLoading", true);
      this.$validator.validateAll();
      if (!this.errors.any()) {
        /*console.log();
        
        this.$store
          .dispatch("user/login", { email, password })
          .then(() => {
            this.$router.push("/prehled");
            this.$store.commit("loading/showLoading", false);
          })
          eslint-disable
          .catch((error) => {
            
          });
        /*eslint-enable */
        const { email, password } = this;
        AuthService.login({ email, password })
          .then((resp) => {
            const token = resp.data.token;
            const user = resp.data.user;

            localStorage.setItem("user-token", token);
            this.$store.commit("user/authSuccess", token);
            this.$store.commit("user/setUser", user);
            this.error = "";
            this.$router.push("/prehled");
            this.$store.commit("loading/showLoading", false);
          })
          .catch((err) => {
            this.$store.commit("user/authError", err);
            this.error = err.response.data.msg;
            localStorage.removeItem("user-token");
            this.$store.commit("loading/showLoading", false);
          });
      } else {
        this.$store.commit("loading/showLoading", false);
      }
    },

    logout() {
      this.$store.dispatch("user/logout").then(() => {
        //this.$router.push("/");
        this.user = false;
        //this.$store.commit("loading/showLoading", false);
      });
    },
  },
  mounted() {
    this.user = this.$store.getters["user/isAuthenticated"];
    if (this.user) {
      this.userName = JSON.parse(localStorage.getItem("user")).nickname;
    }
  },
};
</script>

<style lang="scss">
.login {
  height: 100%;
}
.login-footer {
  flex-direction: column;
}
</style>
