<template>
  <div class="signup">
    <loading />
    <div
      class="h-95 d-flex justify-content-center align-items-center flex-column"
    >
      <div class="card">
        <div class="card-header auth-header">
          <router-link to="/">
            <img
              src="../../assets/icons/logo.min.svg"
              alt="logo Cubo"
              class="auth-logo"
            />
          </router-link>
          <h2 v-if="!success">Registrace</h2>
          <h2 v-if="success">Registrace je kompletní!</h2>
        </div>
        <div class="card-body" v-if="!success">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              v-model="email"
              v-validate="'required|email'"
              id="email"
              name="email"
              class="form-control"
              :class="{ 'is-invalid': errors.has('email') }"
            />
            <div class="feedback">
              <div v-if="errors.has('email')" class="invalid-feedback">
                {{ errors.first("email") }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Přezdívka</label>
            <input
              type="nickname"
              v-model="nickname"
              v-validate="{ required: true, min: 3, max: 30 }"
              id="nickname"
              name="nickname"
              class="form-control"
              :class="{ 'is-invalid': errors.has('nickname') }"
            />
            <div class="feedback">
              <div v-if="errors.has('nickname')" class="invalid-feedback">
                {{ errors.first("nickname") }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Heslo</label>
            <input
              type="password"
              v-model="password"
              v-validate="{ required: true, min: 8 }"
              id="password"
              name="password"
              class="form-control"
              :class="{ 'is-invalid': errors.has('password') }"
            />
            <div class="feedback">
              <div v-show="errors.has('password')" class="invalid-feedback">
                {{ errors.first("password") }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Opište pro kontrolu heslo znovu</label>
            <input
              type="password"
              v-model="passwordConfirm"
              v-validate="{ required: true, min: 8 }"
              id="passwordConfirm"
              name="passwordConfirm"
              class="form-control"
              :class="{ 'is-invalid': errors.has('passwordConfirm') }"
            />
            <div class="feedback">
              <div
                v-show="errors.has('passwordConfirm')"
                class="invalid-feedback"
              >
                {{ errors.first("passwordConfirm") }}
              </div>
              <div v-show="error != ''" class="invalid-feedback">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-body text-center" v-if="success">
          <p>
            Vaše registrace proběhla úspěšně. Nyní se přihlaste a můžete začít s
            procvičováním.
          </p>
          <router-link to="/prihlaseni" class="btn is-outlined"
            >Přihlásit se</router-link
          >
        </div>
        <div class="card-footer signup-footer " v-if="!success">
          <button expanded class="btn my-2" v-on:click="signup()">
            Registrovat
          </button>
          <p class="text-center small my-0">
            Pokud už účet máte, stačí se
            <router-link to="prihlaseni" class="auth-link"
              >přihlásit</router-link
            >.
          </p>
        </div>
      </div>
    </div>
    <cfooter />
  </div>
</template>
<script>
import AuthService from "@/services/AuthService";

export default {
  name: "SignUp",
  data() {
    return {
      email: "",
      password: "",
      passwordConfirm: "",
      nickname: "",
      error: null,
      success: false,
    };
  },
  components: {
    cfooter: () => import("@/components/basic/Footer.vue"),
    loading: () => import("@/components/basic/Loading.vue"),
  },
  methods: {
    signup() {
      this.$store.commit("loading/showLoading", true);
      this.error = "";
      this.$validator.validateAll();
      if (!this.errors.any()) {
        AuthService.register({
          email: this.email,
          nickname: this.nickname,
          password: this.password,
          confirmPassword: this.passwordConfirm,
        })
          .then((response) => {
            console.log(response);
            this.success = true;
            this.$store.commit("loading/showLoading", false);
          })
          .catch((error) => {
            /*console.log(error.response);
            this.errors.add({
              field: "signUp",
              msg: error.response.data[0],
            });*/
            this.error = error.response.data[0];
            this.$store.commit("loading/showLoading", false);
          });
      } else {
        this.$store.commit("loading/showLoading", false);
      }
    },
  },
};
</script>

<style lang="scss">
.signup {
  height: 100%;
}

.signup-footer {
  flex-direction: column;
}
</style>
