<template>
  <div class="contact">
    <loading />
    <div
      class="h-95 d-flex justify-content-center align-items-center flex-column "
    >
      <div class="card">
        <div class="card-header auth-header">
          <router-link to="/">
            <img
              src="../../assets/icons/logo.min.svg"
              alt="logo Cubo"
              class="auth-logo"
            />
          </router-link>
          <h2 v-show="!sent">Napište nám</h2>
          <h2 v-show="sent">Zpráva odeslána</h2>
        </div>
        <div class="card-body" v-if="!sent">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              v-model="email"
              v-validate="'required|email'"
              id="email"
              name="email"
              class="form-control"
              :class="{ 'is-invalid': errors.has('email') }"
            />
            <div class="feedback">
              <div v-if="errors.has('email')" class="invalid-feedback">
                {{ errors.first("email") }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="contactName">Jméno</label>
            <input
              type="text"
              v-model="contactName"
              v-validate="{ required: true, alpha_dash: true, min: 3 }"
              id="contactName"
              name="contactName"
              class="form-control"
              :class="{ 'is-invalid': errors.has('contactName') }"
            />
            <div class="feedback">
              <div v-show="errors.has('contactName')" class="invalid-feedback">
                {{ errors.first("contactName") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="contactMessage">Zpráva</label>
            <textarea
              v-model="contactMessage"
              v-validate="{ required: true, min: 10 }"
              id="contactMessage"
              name="contactMessage"
              class="form-control"
              :class="{ 'is-invalid': errors.has('contactMessage') }"
            ></textarea>
            <div class="feedback">
              <div
                v-show="errors.has('contactMessage')"
                class="invalid-feedback"
              >
                {{ errors.first("contactMessage") }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer contact-footer" v-if="!sent">
          <button expanded class="btn my-2" v-on:click="sendMessage()">
            Odeslat
          </button>
        </div>
        <div class="card-body text-center" v-if="sent">
          <p>Děkujeme za Váš dotaz, odpovíme co nejdříve.</p>
          <router-link to="/" class="btn is-outlined"
            >Zpět na úvodní stránku</router-link
          >
        </div>
      </div>
    </div>
    <cfooter />
  </div>
</template>

<script>
import MailService from "@/services/MailService";
export default {
  name: "Contact",
  components: {
    cfooter: () => import("@/components/basic/Footer.vue"),
    loading: () => import("@/components/basic/Loading.vue"),
  },
  data() {
    return {
      email: "",
      contactName: "",
      contactMessage: "",
      sent: false,
    };
  },
  /*eslint-disable */
  methods: {
    sendMessage() {
      this.$validator.validateAll();
      if (!this.errors.any()) {
        MailService.send({
          email: this.email,
          name: this.contactName,
          message: this.contactMessage,
        })
          .then((response) => {
            this.sent = true;
          })
          .catch((error) => {
            var res = error.response.data;
            /*if (res.origin === "name") {
              this.errName = res.error;
            }
            if (res.origin === "email") {
              this.errEmail = res.error;
            }
            if (res.origin === "message") {
              this.errMessage = res.error;
            }*/
            console.log(res);
          });
      }
    },
    /*eslint-enable */
  },
};
</script>
<style lang="scss">
.contact {
  height: 100%;
}
.contact-footer {
  flex-direction: column;
}
</style>
