<template>
  <div class="dashboard-wrapper">
    <div class="overview">
      <div class="overview-item">
        <p class="overview-heading">Body</p>
        <p class="overview-title">{{ points }}</p>
      </div>

      <div class="overview-item">
        <p class="overview-heading">dokončeno</p>
        <p class="overview-title">{{ finished }}</p>
      </div>

      <div class="overview-item">
        <p class="overview-heading">vytvořeno</p>
        <p class="overview-title">{{ author }}</p>
      </div>
    </div>
    <div class="user-tasks">
      <div class="last-tasks" v-if="user !== null">
        <h3>Nedávno procvičované úkoly</h3>
        <task
          v-for="i in lastComplete"
          :key="i._id"
          :task="i.task"
          :user="user"
        />
        <div v-if="lastComplete.length == 0" class="no-tasks text-center my-2">
          Žádné úkoly.
        </div>
      </div>

      <div class="created-tasks" v-if="user !== null">
        <h3>Nedávno vytvořené úkoly</h3>
        <task v-for="i in lastCreate" :key="i._id" :task="i" :user="user" />
        <div v-if="lastCreate.length == 0" class="no-tasks text-center my-2">
          Žádné úkoly.
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserService from "@/services/UserService";
export default {
  name: "Dashboard",
  data() {
    return {
      points: 0,
      author: 0,
      finished: 0,
      user: null,
      lastComplete: [],
      lastCreate: [],
    };
  },
  components: {
    task: () => import("./task/TaskCard"),
  },
  mounted() {
    this.loadInfo();
  },
  methods: {
    loadInfo() {
      this.$store.commit("loading/showLoading", true);

      UserService.getInfo({})
        .then((response) => {
          var data = response.data;
          this.user = this.userName = JSON.parse(
            localStorage.getItem("user")
          )._id;
          this.points = data.data.points;
          this.author = data.data.createdTasks;
          this.finished = data.data.completedTasks;
          this.lastComplete = data.lastCompletedTasks;
          console.log(this.lastComplete);
          this.lastCreate = data.lastCreatedTasks;
          this.$store.commit("loading/showLoading", false);
        })
        .catch(() => {
          this.$store.commit("loading/showLoading", false);
        });
    },
  },
};
</script>

<style lang="scss">
.dashboard-wrapper {
  padding: 1rem;
  height: 100%;
  min-height: calc(100% - 70px);
  max-width: 1050px;
  margin: 0 auto;
}
.overview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding-bottom: 2rem;
}

.overview-item {
  text-align: center;
  min-width: 100px;
}

.overview-title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin: 0;
}

.overview-heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.user-tasks {
  display: flex;
  justify-content: space-evenly;
}
</style>
