<template>
  <div class="user-settings-wrapper">
    <pageHeader name="Nastavení profilu" />
    <div class="user-settings">
      <form class="card card-small" id="change-password">
        <div class="card-header">
          <h3>Změna hesla</h3>
        </div>
        <div class="form-group">
          <label>Nové heslo</label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
            v-model="password"
            v-validate="{
              required: true,
              min: 8,
              regex:
                '^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})',
            }"
          />
          <div class="feedback">
            <div v-if="errors.has('password')" class="invalid-feedback">
              {{ errors.first("password") }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Opište pro kontrolu nově volené heslo</label>
          <input
            class="form-control"
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            v-model="passwordConfirm"
            v-validate="{
              required: true,
              min: 8,
              regex:
                '^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})',
            }"
          />
          <div class="feedback">
            <div v-if="errors.has('passwordConfirm')" class="invalid-feedback">
              {{ errors.first("passwordConfirm") }}
            </div>
          </div>

          <div class="feedback">
            <div v-if="error" class="invalid-feedback">
              {{ error }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn" @click="changePassword()">Změnit</button>
        </div>
      </form>

      <div class="card card-small" id="delete-profile">
        <div class="card-header">
          <h3>Smazání účtu</h3>
        </div>
        <div class="card-body">
          <p>Smazání uživatelského účtu. Tato akce je nevratná.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger" @click="showDeleteMessage()">
            Smazat
          </button>
        </div>
      </div>
    </div>
    <modal
      name="Smazání účtu"
      :showOk="true"
      :showCancel="true"
      @close="deleteModal = false"
      @ok="deleteUser()"
      v-show="deleteModal"
    >
      Opravdu chcete smazat svůj účet?
    </modal>

    <modal
      name="Upozornění"
      :showOk="true"
      @close="success = false"
      @ok="success = false"
      v-show="success"
    >
      {{ message }}
    </modal>
  </div>
</template>
<script>
import UserService from "@/services/UserService";
export default {
  name: "UserProfile",
  data() {
    return {
      deleteModal: false,
      password: "",
      success: false,
      passwordConfirm: "",
      message: "",
      error: "",
    };
  },
  components: {
    pageHeader: () => import("@/components/basic/PageHeader.vue"),
    modal: () => import("@/components/basic/Modal.vue"),
  },
  methods: {
    showDeleteMessage() {
      this.deleteModal = true;
    },

    deleteUser() {
      UserService.deactivate({})
        .then(() => {
          this.$store.dispatch("user/logout");
          this.deleteLoading = false;
          this.$router.push("/");
        })
        .catch(() => {
          this.message = "Deaktivace profilu se nezdařila.";
          this.$store.commit("loading/showLoading", false);
        });
    },
    changePassword() {
      this.$store.commit("loading/showLoading", true);
      this.error = "";
      this.$validator.validateAll();
      if (!this.errors.any()) {
        UserService.changePassword({
          password: this.password,
          confirmPassword: this.passwordConfirm,
        })
          .then(() => {
            this.error = "";
            this.password = "";
            this.confirmPassword = "";
            this.message = "Heslo změněno.";
            this.$store.commit("loading/showLoading", false);
            this.success = true;
          })
          .catch((error) => {
            this.error = error.response.data.error;

            this.$store.commit("loading/showLoading", false);
          });
      } else {
        this.$store.commit("loading/showLoading", false);
      }
    },
  },
};
</script>

<style lang="scss">
.user-setting-wrapper {
  max-width: 1050px;
}

.user-settings {
  margin-top: 1.5rem;
}

#change-password {
  max-width: 400px;
}

#delete-profile {
  max-width: 400px;
  margin-top: 1.5rem;
}

@media screen and (max-width: 740px) {
  .user-settings {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  #change-password {
    grid-column: 1;
    justify-self: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  #delete-profile {
    grid-column: 1;
    justify-self: center;
    width: 100%;
  }
}
</style>
