<template>
  <div class="help-wrapper">
    <div class="help-menu">
      <div class="help-menu-top">
        <div class="help-menu-title">
          <router-link to="/">
            <img
              src="../assets/icons/logo.min.svg"
              alt="logo Cubo"
              class="help-logo"
            />
          </router-link>
          <h2>Nápověda</h2>
        </div>
        <div>
          <span
            href="#"
            class="help-menu-responsive"
            v-on:click="isHidden = !isHidden"
          >
            <i class="icon-bars"></i>
          </span>
        </div>
      </div>

      <div class="help-menu-content" v-if="isHidden">
        <ul class="help-menu-category">
          <li class="help-menu-category-item">
            Úvod
          </li>
          <li class="help-menu-category-item">
            Vývojové prostředí
            <ul class="help-menu-subcategory">
              <li>Pracovní plocha a menu bloků</li>
              <li>Horní menu</li>
              <li>Pravé menu</li>
              <li>Spuštění programu</li>
              <li>Ladění programu</li>
              <li>Nastavení</li>
              <li>Klávesové zkratky</li>
            </ul>
          </li>
          <li class="help-menu-category-item">
            Bloky
            <ul class="help-menu-subcategory">
              <li>Použití bloků</li>
              <li>Text</li>
              <li>Matematika</li>
              <li>Logika</li>
              <li>Smyčky</li>
              <li>Seznam</li>
              <li>Proměnné</li>
              <li>Funkce</li>
              <li>Kreslení</li>
              <li>Plátno</li>
              <li>Čáry a barvy</li>
              <li>Tvary</li>
            </ul>
          </li>
          <li class="help-menu-category-item">
            Aplikace
            <ul class="help-menu-subcategory">
              <li>Registrace a přihlášení</li>
              <li>Správa profilu</li>
              <li>Přehled</li>
              <li>Úkoly</li>
              <li>Kolekce</li>
              <li>Uživatelé</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="help-content" id="help-content" ref="help-content">
      Kompletní nápověda je ve vývoji. Informace lze najít zde:
      <ul>
        <li>Text diplomové práce</li>
        <li>
          Sdílený dokument s nápovědou na
          <a
            href="https://docs.google.com/document/d/1EYPJor9UzjBOYAFlGnkMiu338lRL7Kgy8e6ACx2XJG8/edit?usp=sharing"
            >Google Docs</a
          >
        </li>
        <li>
          Oficiální
          <a href="https://github.com/google/blockly/wiki">Wiki Blockly</a>
        </li>
      </ul>
    </div>
    <button v-on:click="topFunction()" id="scrollTop" ref="scrollTop">
      <i class="icon-angle-up"></i>
    </button>
  </div>
</template>
<script>
export default {
  name: "Help",
  data: function() {
    return {
      isHidden: false,
      width: 0,
    };
  },
  methods: {
    menuOpening(e) {
      this.checkWidth(e.target.innerWidth);
    },
    checkWidth(w) {
      if (w > 768) {
        this.isHidden = true;
      } else {
        this.isHidden = false;
      }
    },
    scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        this.$refs["scrollTop"].style.display = "block";
      } else {
        this.$refs["scrollTop"].style.display = "none";
      }
    },
    topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    },
  },

  created() {
    this.width = window.innerWidth;
    window.addEventListener("resize", this.menuOpening);
    this.checkWidth(window.innerWidth);
  },
  destroyed() {
    window.removeEventListener("resize", this.menuOpening);
  },
  mounted() {
    var r = this;
    document.body.addEventListener("scroll", function() {
      r.scrollFunction();
    });
  },
};
</script>

<style lang="scss">
.help-wrapper {
  width: 100%;
  height: 100vh;
}

.help-menu {
  grid-area: menu;
  border-right: 1px solid #ddd;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 275px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 0.5rem;
  user-select: none;
}

.help-content {
  grid-area: content;
  float: right;
  width: calc(100% - 275px);
  padding: 0.75rem 1rem;
  height: 200vh;
}

.help-logo {
  margin: 0.5rem auto;
  text-align: center;
  max-width: 2.5rem;
  display: block;
}

.help-menu h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 1rem;
}

.help-menu-category {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
}

.help-menu-category-item {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.help-menu-subcategory {
  list-style-type: none;
  padding-left: 1.5rem;

  & li {
    text-transform: none;
    font-size: 0.9rem;
  }
}

.help-menu-responsive {
  display: none;
}

@media only screen and (max-width: 768px) {
  .help-menu {
    max-width: 100%;
    position: relative;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-right: 0;
  }

  .help-content {
    width: 100%;
  }

  .help-menu h2 {
    margin: 0;
    padding: 0.5rem;
    margin-left: 1rem;
  }

  .help-menu-responsive {
    display: block;
    color: $primary-dark-color;
    cursor: pointer;
    font-size: 1.3rem;

    &:hover {
      color: $primary-color;
    }
  }

  .help-menu-title {
    display: flex;
    align-items: center;
  }
  .help-menu-top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0 1rem;
    align-items: center;
  }
}

#scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $primary-color;
  color: white;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.4rem;

  &:hover {
    background-color: darken($primary-color, 10);
  }
}
</style>
