<template>
  <div class="home-container">
    <div class="home-menu">
      <router-link to="/">
        <div class="home-logo-wrapper">
          <img
            src="../assets/icons/logo.min.svg"
            alt="logo Cubo"
            class="home-logo"
          />
        </div>
      </router-link>

      <div class="home-menu-links" v-if="!user">
        <router-link to="/prihlaseni">Přihlášení</router-link>
        <router-link to="/registrace">Registrace</router-link>
      </div>

      <div class="home-menu-actions" v-if="user">
        <router-link class="btn is-outlined" to="/prehled">
          <span><i class="icon-rocket"></i></span>
          <span>Aplikace</span>
        </router-link>

        <router-link class="home-menu-action" to="/nastaveni-profilu">
          <span class="action-icon"><i class="icon-user"></i></span>
          <span class="action-text">{{ userName }}</span>
        </router-link>

        <div class="home-menu-action" v-on:click="logout()">
          <span class="action-icon"><i class="icon-sign-out"></i></span>
          <span class="action-text">Odhlásit</span>
        </div>
      </div>
    </div>
    <div class="home-content">
      <h1>CUBO</h1>
      <h2>Programujte - naučíte se myslet jinak</h2>
      <p>
        Cubo je aplikace pro podporu výuky základů algoritmizace a programování.
        Součástí je i vlastní vývojé prostředí, ve kterém se programuje pomocí
        bloků a lze jej používat bez nutnosti přihlášení.
      </p>
      <router-link to="/vyvojove-prostredi" class="btn my-2" target="_blank">
        Vyzkoušet vývojové prostředí</router-link
      >
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      user: false,
      userName: "",
    };
  },
  components: { Footer: () => import("@/components/basic/Footer") },
  mounted() {
    this.user = this.$store.getters["user/isAuthenticated"];
    if (this.user) {
      this.userName = JSON.parse(localStorage.getItem("user")).nickname;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("user/logout").then(() => {
        //this.$router.push("/");
        this.user = false;
        //this.$store.commit("loading/showLoading", false);
      });
    },
  },
};
</script>

<style lang="scss">
.home-container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: 95px auto 30px;
  grid-template-columns: 1fr;

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.home-content {
  background-color: white;
  max-width: 1024px;
  min-width: 350px;
  min-height: 200px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto 2rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: 5rem;
    font-family: FredokaOne, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 0 0 2.5rem 0;
  }

  p {
    max-width: 55%;
    text-align: justify;
  }
}

.home-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.home-menu-links {
  color: hsla(0, 0%, 100%, 0.5);

  a {
    //color: hsla(0, 0%, 100%, 0.5);
    color: $primary-dark-color;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1.5rem;

    &:hover {
      color: $primary-color;
    }
  }
}
.home-img {
  max-width: 17rem;
  display: block;
}
.home-logo {
  max-height: 3.5rem;
}

.home-logo-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-menu-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-menu-action {
  color: $primary-dark-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-left: 1.5rem;
  .action-icon {
    font-size: 1.5rem;
    display: block;
  }

  .action-text {
    font-size: 0.85rem;
    display: block;
  }

  &:hover {
    color: $primary-color;
  }
}

@media only screen and (max-width: 700px) {
  .home-content {
    padding: 1rem;
    p {
      font-size: 1rem;
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home-img {
    max-width: 22rem;
    display: block;
  }
}
</style>
