<template>
  <div class="not-found">
    <h1 class="title is-2">
      Stránka nenalezena :(
    </h1>
    <div></div>
    <p>Je nám líto, ale požadovaná stránka nebyla nalezena.</p>
    <p>Ujistěte se, že jste neudělali chybu v URL adrese.</p>
    <p>Je možné, že stránka byla přemístěna nebo odstraněna.</p>
    <router-link class="btn" to="/">
      Přejít na úvod
    </router-link>
  </div>
</template>

<style lang="scss">
.not-found {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0.3rem 0;
    font-size: 0.95rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }

    &:first-of-type {
      margin: 1.4rem 0 2rem 0;
    }
  }

  .not-found-logo {
    margin-bottom: 1.5rem;
  }
}
</style>
