<template
  ><div class="new-task-wrapper">
    <pageHeader name="Nový úkol" v-if="!edit"> </pageHeader>
    <pageHeader name="Úprava úkolu" v-if="edit"> </pageHeader>
    <div class="new-task-body" v-show="canEdit">
      <div class="edit-wrapper">
        <div class="form-group">
          <label for="taskName">Název</label>
          <input
            type="text"
            v-model="taskName"
            v-validate="{ required: true, min: 3, max: 30 }"
            id="taskName"
            name="taskName"
            class="form-control"
            :class="{ 'is-invalid': errors.has('name') }"
          />
          <div class="feedback">
            <div v-show="errors.has('taskName')" class="invalid-feedback">
              {{ errors.first("taskName") }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="level">Obtížnost</label>
          <select v-model="difficulty" class="form-control">
            <option v-for="i in optionsLevel" :key="i.value" :value="i.value">{{
              i.text
            }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="level">Typ úkolu</label>
          <select v-model="type" class="form-control">
            <option v-for="i in options" :key="i.value" :value="i.value">{{
              i.name
            }}</option>
          </select>
        </div>
      </div>
      <TextEditor ref="textEditor" />

      <div class="form-group feedback">
        <div v-show="error" class="invalid-feedback">
          {{ error }}
        </div>
      </div>

      <button @click="saveTask()" class="btn my-2" v-if="!edit">
        Vytvořit
      </button>
      <button @click="saveTask()" class="btn my-2" v-if="edit">Uložit</button>
    </div>
    <Workspace v-if="canEdit" />

    <div class="text-center" v-if="!canEdit">
      Nemáte oprávnění upravovat tento úkol.
    </div>
    <modal v-show="showMessage" name="Upozornění" @ok="goBack()">{{
      message
    }}</modal>
  </div>
</template>
<script>
import TaskService from "@/services/TaskService";
import Blockly from "blockly";
import Workspace from "@/components/ide/Workspace";
export default {
  name: "NewTask",
  data() {
    return {
      edit: false,
      canEdit: true,
      taskName: "",
      difficulty: "1",
      type: "MATCH",
      countPoints: true,
      user: "",
      task: "",
      error: "",
      message: "",
      showMessage: false,
      options: [
        { value: "MATCH", name: "Přesná shoda bloků" },
        { value: "DRAWING", name: "Kreslení" },
        { value: "FUNCTION", name: "Vytvoření funkce" },
      ],
      optionsLevel: [
        { value: "1", text: "Lehká" },
        { value: "2", text: "Střední" },
        { value: "3", text: "Těžká" },
      ],
    };
  },
  components: {
    //textEditor,
    pageHeader: () => import("@/components/basic/PageHeader.vue"),
    TextEditor: () => import("@/views/app/task/TextEditor"),
    Workspace,
    modal: () => import("@/components/basic/Modal.vue"),
  },
  mounted() {
    this.$root.$emit("clearCanvas");
    console.log(this.$router);
    console.log(this.edit);
    this.$store.getters["editor/workspace"].clear();
    this.$root.$emit("clickedSomething");
    console.log(this.$router.history.current.name);
    if (this.$router.history.current.name == "EditTask") {
      this.user = JSON.parse(localStorage.getItem("user"))._id;
      this.edit = true;
      this.loadTask();
    }
  },
  methods: {
    saveTask() {
      this.$store.commit("loading/showLoading", true);
      if (this.taskName === "") {
        this.error = "Vyplňte název úkolu.";
        this.$store.commit("loading/showLoading", false);
        return;
      }
      var workspace = Blockly.getMainWorkspace();
      //this.$store.getters["editor/workspace"];
      var instructions = this.$refs["textEditor"].editor.getHTML();

      if (this.isWorkspaceEmpty()) {
        this.error = "Úkol nelze uložit bez řešení.";
        this.$store.commit("loading/showLoading", false);
      } else {
        var codeSolution = "";
        var functionBlock = "";
        var canvasResult = null;
        // var instructions = this.$refs["textEditor"].editor.getHTML();

        // ulozeni bloku na platne
        var blocksSolution = Blockly.Xml.domToText(
          Blockly.Xml.workspaceToDom(workspace)
        );

        switch (this.type) {
          case "MATCH":
            codeSolution = Blockly.JavaScript.workspaceToCode(workspace);
            console.log(codeSolution);
            break;
          case "DRAWING":
            var canvas = this.$store.getters["editor/canvas"];

            if (canvas === null || canvas === undefined) {
              this.error =
                "Před uložením úkolu typu kreslení, je nutné program alespoň jednou spustit. Jako výsledek řešení se ukládá aktuální obrázek z plátna.";
              this.$store.commit("loading/showLoading", false);
              return;
            } else {
              canvasResult = canvas.toDataURL();
            }
            // console.log(canvasResult)
            break;
          case "FUNCTION":
            var definition = this.getBlocksByType(
              workspace,
              "procedures_defreturn"
            );
            if (definition.length === 0) {
              this.error =
                "Pro uložení úkolu typu Vytvoření funkce je potřeba vložit blok funkce s návratovou hodnotou.";
              this.$store.commit("loading/showLoading", false);
              return;
            }
            var calls = this.getBlocksByType(
              workspace,
              "procedures_callreturn"
            );

            if (calls.length === 0) {
              this.error =
                "Pro uložení úkolu typu FUNKCE je potřeba vložit alespoň jeden blok pro zavolání funkce.";
              this.$store.commit("loading/showLoading", false);
              return;
            }
            // calls.length !== 0
            if (definition.length === 1) {
              definition[0].editable_ = false;
              definition[0].deletable_ = false;
              functionBlock = window.Blockly.Xml.domToText(
                Blockly.Xml.blockToDomWithXY(definition[0])
              );
              console.log(functionBlock);
              var doc = new DOMParser().parseFromString(
                "<xml>" + functionBlock + "</xml>",
                "text/xml"
              );

              var n = doc.getElementsByTagName("block")[0];
              var x = n.childNodes;

              for (var i = 0; i < x.length; i++) {
                var j = x[i];
                if (
                  j.nodeName.toString() !== "field" &&
                  j.nodeName.toString() !== "mutation"
                ) {
                  // j.remove()
                  n.removeChild(x[i]);
                  i--;
                }
              }
              codeSolution = Blockly.JavaScript.workspaceToCode(workspace);
              functionBlock = Blockly.Xml.domToText(n);
            }
            break;
        }
        if (!this.edit) {
          TaskService.create({
            name: this.taskName,
            instructions: instructions,
            difficulty: this.difficulty,
            type: this.type,
            codeResult: codeSolution,
            blocksResult: blocksSolution,
            functionsDef: functionBlock,
            canvasResult: canvasResult,
          })
            .then(() => {
              this.$router.push({
                name: "Tasks",
              });
            })
            .catch((error) => {
              this.error = error.response.data.error;
            });
        } else {
          TaskService.edit({
            name: this.taskName,
            instructions: instructions,
            difficulty: this.difficulty,
            type: this.type,
            task: this.task,
            codeResult: codeSolution,
            blocksResult: blocksSolution,
            functionsDef: functionBlock,
            canvasResult: canvasResult,
          })
            .then(() => {
              this.$store.commit("loading/showLoading", false);
              this.message = "Uloženo.";
              this.showMessage = true;
            })
            .catch((error) => {
              this.error = error.response.data.error;
              this.$store.commit("loading/showLoading", false);
            });
        }
      }
    },
    getBlocksByType(w, type) {
      var blocks = [];
      for (var blockID in w.blockDB_) {
        if (w.blockDB_[blockID].type === type) {
          blocks.push(w.blockDB_[blockID]);
        }
      }
      return blocks;
    },

    loadTask() {
      this.$store.commit("loading/showLoading", true);
      TaskService.task({
        id: this.$route.params.id,
      })
        .then((response) => {
          console.log(response);

          var u = response.data.task.user;
          if (this.edit && this.user != u) {
            this.canEdit = false;
          } else {
            this.taskName = response.data.task.name;
            this.type = response.data.task.type;
            this.difficulty = response.data.task.difficulty;
            this.$store.getters["editor/workspace"].clear();
            this.countPoints = response.data.countPoints;
            this.task = response.data.task._id;

            this.$refs["textEditor"].editor.setContent(
              response.data.task.instructions
            );
            Blockly.Xml.domToWorkspace(
              Blockly.Xml.textToDom(response.data.task.blocksResult),
              this.$store.getters["editor/workspace"]
            );
          }

          this.$store.commit("loading/showLoading", false);
        })
        .catch(() => {
          this.$store.commit("loading/showLoading", false);
          this.message = "Úkol se nepodařilo načíst.";
          //this.showMessage = false;

          this.$store.commit("loading/showLoading", false);
        });
    },

    isWorkspaceEmpty() {
      return (
        this.$store.getters["editor/workspace"].getAllBlocks().length === 0
      );
    },

    goBack() {
      if (!this.edit) {
        this.$router.push({
          name: "Tasks",
        });
      } else {
        this.showMessage = false;
        this.message = "";
      }
    },
  },
};
</script>

<style lang="scss">
.task-workspace {
  width: 100%;

  min-height: 720px;
  height: 800px;
}

.edit-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .form-group {
    padding: 0 0.5rem;
  }
}
</style>
