<template>
  <div class="exercise-wrapper">
    <pageHeader :name="'Úkol: ' + taskName" id="a"> </pageHeader>
    <div class="instructions" id="b">
      <div class="card-body">
        <div class="instruction" v-html="instructions"></div>
      </div>
      <div class="card-footer">
        <button class="btn" @click="checkTask()">Zkontrolovat</button>
      </div>
    </div>

    <Workspace id="c" />

    <modal
      v-show="showCheckError"
      name="Kontrola úkolu"
      @ok="showCheckError = !showCheckError"
      >Vaše řešení bohužel neodpovídá zadání, upravte ho a zkuste to
      znovu.</modal
    >

    <modal v-show="showCheckSuccess" name="Kontrola úkolu" @ok="goBack()"
      >Vaše řešení je správně!</modal
    >

    <modal v-show="showEmpty" name="Kontrola úkolu" @ok="showEmpty = !showEmpty"
      >Nelze nic zkontrolovat, nejprve vytvořte své řešení.</modal
    >
  </div>
</template>

<script>
/*eslint-disable */
import TaskService from "@/services/TaskService";
import Blockly from "blockly";
import Workspace from "@/components/ide/Workspace";

export default {
  name: "PracticeTask",
  data() {
    return {
      task: {},
      taskName: "",
      instructions: "",
      type: "",
      id: "",
      points: 0,
      countPoints: true,
      codeSolution: "",
      fceDef: "",
      canvasResult: null,
      showCheckError: false,
      showCheckSuccess: false,
      showEmpty: false,
    };
  },

  mounted() {
    this.$store.getters["editor/workspace"].clear();
    this.$root.$emit("clearCanvas");
    this.$store.commit("editor/openPanel", false);
    this.$root.$emit("clickedSomething");
    this.$store.commit("editor/clearOutput");
    this.loadTask();
  },
  methods: {
    checkTask() {
      if (this.$store.getters["editor/workspace"].getAllBlocks().length === 0) {
        this.showEmpty = true;
        return;
      }

      var worker = new Worker("../../../utils/checker.js");
      var c = Blockly.JavaScript.workspaceToCode(
        this.$store.getters["editor/workspace"]
      );
      console.log(c);
      this.$store.commit("loading/showLoading", true);

      var r = this;
      switch (this.type) {
        case "MATCH":
          worker.postMessage({
            type: this.type,
            userSolution: c,
            solution: this.codeSolution,
          });
          break;
        case "DRAWING":
          var canvasData = this.$store.getters["editor/imageCanvas"];
          worker.postMessage({
            type: this.type,
            userSolution: canvasData,
            solution: this.solution,
          });
          break;
        case "FUNCTION":
          worker.postMessage({
            type: this.type,
            userSolution: c,
            solution: this.codeSolution,
          });
          break;
      }

      worker.onmessage = function(event) {
        console.log(event.data);
        if (event.data === true) {
          console.log("muzu ulozit " + r.countPoints);
          console.log(r.points);
          if (r.countPoints) {
            TaskService.solution({
              task: r.id,
              points: r.points,
            })
              .then((response) => {
                r.$store.commit("loading/showLoading", false);
                r.showCheckSuccess = true;
              })
              .catch((error) => {
                console.log(error);

                r.$store.commit("loading/showLoading", false);
              });
          } else {
            r.$store.commit("loading/showLoading", false);
            r.showCheckSuccess = true;
          }
        } else {
          r.$store.commit("loading/showLoading", false);
          r.showCheckError = true;
        }
      };
    },
    loadTask() {
      this.$store.commit("loading/showLoading", true);
      TaskService.task({
        id: this.$route.params.id,
      })
        .then((response) => {
          this.taskName = response.data.task.name;
          this.instructions = response.data.task.instructions;
          this.type = response.data.task.type;
          this.id = response.data.task._id;
          this.points = response.data.task.difficulty;
          this.fceDef = response.data.task.functionsDef;
          this.countPoints = response.data.countPoints;
          console.log(this.countPoints);
          var workspace = this.$store.getters["editor/workspace"];

          switch (this.type) {
            case "FUNCTION":
              this.codeSolution = response.data.task.codeResult;

              var xml = Blockly.Xml.textToDom(
                "<xml>" + response.data.task.functionsDef + "</xml>"
              );
              Blockly.Xml.domToWorkspace(xml, workspace);

              break;

            case "MATCH":
              this.codeSolution = response.data.task.codeResult;
              console.log(this.codeSolution);
              break;

            case "DRAWING":
              this.canvasResult = response.data.task.canvasResult;
              // console.log(atob(this.canvasResult))
              var canvas = document.createElement("canvas");
              var ctx = canvas.getContext("2d");
              var img = new Image();
              img.src = this.canvasResult;
              img.onload = () => {
                ctx.drawImage(img, 0, 0);
                this.solution = ctx.getImageData(
                  0,
                  0,
                  canvas.width,
                  canvas.height
                );
              };

              // canvas.getContext('2d').drawImage(img, 0, 0)
              this.$root.$emit("setBackgroundCanvas", this.canvasResult);
              break;
          }
          this.$store.commit("loading/showLoading", false);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    goBack() {
      this.$router.push({
        name: "Tasks",
      });
    },
  },
  components: {
    pageHeader: () => import("@/components/basic/PageHeader.vue"),
    Workspace,
    modal: () => import("@/components/basic/Modal.vue"),
  },
};
/*eslint-enable */
</script>
<style lang="scss">
.exercise-wrapper {
  display: grid;
  grid-column: 1fr;
  width: 100%;
  grid-template-rows: min-content min-content auto;

  .instructions {
    max-width: 100%;
    width: 100%;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .exercise-wrapper {
    grid-template-columns: min-content min-content auto;
    grid-template-areas:
      "a a a"
      "b c c"
      "b c c";

    #a {
      grid-area: a;
    }

    #b {
      grid-area: b;
      padding: 1.5rem;
      min-width: 300px;
    }

    #c {
      grid-area: c;
    }
  }
}
</style>
