<template>
  <div class="tasks-wrapper">
    <pageHeader name="Úkoly">
      <router-link to="/vytvoreni-ukolu" class="btn btn-success tooltip"
        ><i class="icon-plus"></i> <tooltip msg="Nový úkol"
      /></router-link>
    </pageHeader>

    <div class="listing-wrapper">
      <div class="listing-filter">
        <searchInput v-model="searchText" @click="load(actualPage)" />
        <div class="filter-option">
          <label for="sorting">Řazení</label>
          <select v-model="sorting" class="form-control">
            <option value="created_at_desc">Nejnovější</option>
            <option value="created_at_asc">Nejstarší</option>
            <option value="name_asc">Název vzestupně</option>
            <option value="name_desc">Název sestupně</option>
          </select>
        </div>
        <div class="filter-option">
          <label for="taskType">Typ</label>
          <select v-model="taskType" class="form-control">
            <option value="">Vše</option>
            <option value="MATCH">Shoda</option>
            <option value="FUNCTION">Funkce</option>
            <option value="DRAWING">Kreslení</option>
          </select>
        </div>
        <div class="filter-option">
          <label for="level">Obtížnost</label>
          <select v-model="level" class="form-control">
            <option value="">Vše</option>
            <option value="1">Lehká</option>
            <option value="2">Střední</option>
            <option value="3">Těžká</option>
          </select>
        </div>
        <div class="filter-option">
          <label for="taskState">Stav</label>
          <select v-model="taskState" class="form-control">
            <option value="">Vše</option>
            <option value="not_complete">Nedokončené</option>
            <option value="complete">Dokončené</option>
            <option value="user">Moje úkoly</option>
          </select>
        </div>
        <button class="btn filter-btn is-expanded my-2" @click="load(1)">
          Filtrovat
        </button>
      </div>
      <div class="tasks" v-if="user !== null">
        <task v-for="i in items" :key="i._id" :task="i" :user="user" />
      </div>
      <div v-if="items.length == 0" class="no-tasks text-center my-2">
        Žádné úkoly.
      </div>

      <div class="pagination-wrapper">
        <paginate
          :page-count="totalPages"
          :click-handler="changePage"
          prev-text='<i class="icon-angle-left"></i>'
          next-text='<i class="icon-angle-right"></i>'
          :page-range="2"
          :margin-pages="2"
          :container-class="'pagination'"
        >
        </paginate>
      </div>
    </div>
  </div>
</template>
<script>
import paginate from "vuejs-paginate";
import TaskService from "@/services/TaskService";

export default {
  components: {
    pageHeader: () => import("@/components/basic/PageHeader.vue"),
    searchInput: () => import("@/components/basic/SearchInput.vue"),
    tooltip: () => import("@/components/basic/Tooltip.vue"),
    task: () => import("./TaskCard"),
    paginate,
  },
  data: function() {
    return {
      name: "Úkoly",
      items: [],
      searchText: "",
      user: null,
      totalPages: 1,
      pageItems: 12,
      actualPage: 1,

      taskState: "",
      creator: "",
      level: "",
      sorting: "created_at_desc",
      taskType: "",

      sortOptions: [
        { value: "name_asc", text: "Název" },
        { value: "created_at_desc", text: "Nejnovější" },
        { value: "created_at_asc", text: "Nejstarší" },
      ],
    };
  },
  methods: {
    changePage(pageNum) {
      console.log(pageNum);
      this.load(pageNum);
    },

    load(pageNum) {
      this.actualPage = pageNum;
      this.$store.commit("loading/showLoading", true);
      TaskService.getAll({
        params: {
          limit: this.pageItems,
          page: pageNum,
          search: this.searchText,
          difficulty: this.level,
          type: this.taskType,
          state: this.taskState,
          order: this.sorting,
        },
      })
        .then((response) => {
          this.user = this.userName = JSON.parse(
            localStorage.getItem("user")
          )._id;

          var data = response.data;
          this.items = data.docs;
          this.totalPages = data.totalPages;
          this.$store.commit("loading/showLoading", false);
        })
        .catch(() => {
          this.$store.commit("loading/showLoading", false);
        });
    },
  },
  /*
  watch: {
    $route(to, from) {
      console.log(this.$route.query);
      console.log(to);
      console.log(from);
    },
  },
*/
  mounted() {
    this.load(1);
  },
};
</script>

<style lang="scss">
.tasks {
  grid-area: content;
  padding: 0.75rem 0rem 0 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  grid-gap: 0.5rem;
}

.no-tasks {
  grid-area: content;
}

@media screen and (max-width: 1450px) {
  .tasks {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .tasks {
    grid-template-columns: 1fr;
  }
}

.tasks-wrapper {
  min-height: calc(100% - 70px);
  height: 100%;
}
</style>
