<template>
  <div
    class="card extended-small-card"
    :class="[{ creator: user === task.user._id }]"
  >
    <div class="task-header">
      <span class="task-name">
        <router-link :to="{ name: 'ExerciseTask', params: { id: task._id } }">{{
          task.name
        }}</router-link>
      </span>
    </div>
    <div class="task-body">
      <div class="task-info">
        <span class="task-type"
          ><i class="icon-rocket"></i>{{ type[task.type] }}</span
        >
        <span class="task-type task-user"
          ><i class="icon-user"></i>{{ task.user.nickname }} ({{
            task.user.points
          }})</span
        >

        <span class="task-type">
          <i
            class="icon-star"
            v-for="item in Number(task.difficulty)"
            :key="item.index"
          ></i>
        </span>
      </div>
      <div class="task-actions" v-if="user === task.user._id">
        <div class="icons-group icons-group-small">
          <router-link
            :to="{ name: 'EditTask', params: { id: task._id } }"
            class="edit-link"
          >
            <icon
              icon="icon-pen edit-color"
              tooltip="Upravit"
              @click.native="edit()"
            />
          </router-link>
          <icon
            icon="icon-trash delete-color"
            tooltip="Odstranit"
            @click.native="showDelete = true"
          />
        </div>
      </div>
    </div>
    <modal
      name="Odstranění úkolu"
      v-show="showDelete"
      :showCancel="true"
      @close="showDelete = false"
      @ok="removeTask(task._id)"
    >
      Opravdu chcete odstranit tento úkol?</modal
    >

    <modal name="Odstranění úkolu" v-show="showInfo" @ok="reload()">
      {{ message }}</modal
    >
  </div>
</template>

<script>
import TaskService from "@/services/TaskService";

export default {
  name: "TaskCard",
  props: ["task", "user"],
  components: {
    icon: () => import("@/components/basic/Icon.vue"),
    modal: () => import("@/components/basic/Modal.vue"),
  },
  data: function() {
    return {
      showCollections: false,
      showDelete: false,
      showInfo: false,
      message: "",
      selectedTask: "",
      difficulty: {
        1: { name: "lehký", points: "bod" },
        2: { name: "středně těžký", points: "body" },
        3: { name: "těžký", points: "body" },
      },

      type: { DRAWING: "kreslení", MATCH: "shoda", FUNCTION: "funkce" },
    };
  },
  methods: {
    removeTask(id) {
      TaskService.delete({
        id: id,
      })
        .then(() => {
          this.message = "Úkol úspěšně odstraněn.";
          this.showInfo = true;
        })
        .catch(() => {
          this.message = "Úkol se nepodařilo odstranit.";
          this.showInfo = true;
        });
    },
    reload() {
      this.showInfo = false;
      this.$router.go();
    },
    edit() {
      this.$router.push({
        name: "EditTask",
        params: { id: this.task._id },
      });
    },
  },
};
</script>

<style lang="scss">
.task-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-header {
  padding-bottom: 0.5rem;
}
.task-name {
  font-size: 1.2rem;
  font-weight: 600;

  color: $primary-dark-color;
  a,
  a:visited {
    color: $primary-dark-color;
  }

  &:hover {
    text-decoration: underline;
  }
}
.task-info {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  display: inline-block;
  padding: 0.6rem 0;
  //color: darken($border-color, 40);
}

.task-type {
  margin-right: 1.5rem;
  padding: 4px;
  color: #777;
  letter-spacing: 0.4px;

  i {
    margin-right: 3px;
    font-size: 85%;
    color: #777;
  }
}

.task-action {
  .cicon {
    border: 1px solid $border-color;
  }
}
.edit-link {
  color: $primary-dark-color;
}
</style>
