<template>
  <div class="text-editor">
    <editor-menu-bar v-slot="{ commands, isActive }" :editor="editor">
      <div class="menubar">
        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
        >
          <icon icon="icon-bold-solid" tooltip="Tučně" />
        </span>

        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
        >
          <icon icon="icon-italic-solid" tooltip="Kurzíva" />
        </span>

        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
        >
          <icon icon="icon-strikethrough-solid" tooltip="Přeškrknutí" />
        </span>

        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
        >
          <icon
            icon="icon-underline-solid"
            tooltip="Podtržení"
            :separator="true"
          />
        </span>

        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.paragraph() }"
          @click="commands.paragraph"
        >
          <icon
            icon="icon-paragraph-solid"
            tooltip="Odstavec"
            :separator="true"
          />
        </span>

        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
        >
          <icon icon="icon-heading-solid-1" tooltip="Nadpis" />
        </span>

        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
        >
          <icon
            icon="icon-list-ul-solid"
            tooltip="Seznam s odrážkami"
            :separator="true"
          />
        </span>

        <span
          class="menubar__button"
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
        >
          <icon
            icon="icon-list-ol"
            tooltip="Číslovaný seznam"
            :separator="true"
          />
        </span>

        <span class="menubar__button" @click="commands.horizontal_rule">
          <icon
            icon="icon-window-minimize-regular"
            tooltip="Vodorovná čára"
            :separator="true"
          />
        </span>

        <span class="menubar__button" @click="commands.undo">
          <icon icon="icon-undo" tooltip="Zpět" :separator="true" />
        </span>

        <span class="menubar__button" @click="commands.redo">
          <icon icon="icon-redo" tooltip="Znovu" :separator="true" />
        </span>
      </div>
    </editor-menu-bar>

    <editor-content class="text-editor__content" :editor="editor" />
  </div>
</template>

<script>
// import Icon from '@/views/app/task/Icon'
import Icon from "@/components/basic/Icon";
import { Editor, EditorContent, EditorMenuBar } from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from "tiptap-extensions";
export default {
  name: "TextEditor",
  components: {
    EditorContent,
    EditorMenuBar,
    Icon,
  },
  data() {
    return {
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
        ],
        content: `
          <h2>
            Zadání úkolu
          </h2>
          <p>
            zde napište zadání úkolu
          </p>
         
        `,
      }),
    };
  },
  beforeDestroy() {
    this.editor.destroy();
  },
  methods: {
    getEditorContent() {
      // this.bus.$emit('getEditorContent')
      console.log("ok");
      return this.content;
    },
  },
};
</script>
<style lang="scss">
.text-editor {
  border: 1px solid $border-color;
  width: 100%;
  //max-height: 400px;
  height: 100%;
  border-radius: 3px;
  min-width: 400px;
  overflow: auto;
}

.menubar {
  border-bottom: 1px solid $border-color;
  padding: 0.3rem;

  .cicon {
    margin: 0 4px;
    i {
      font-size: 1.1rem;
    }
  }
  .is-active {
    padding: 0;
    .cicon {
      background-color: #e3f2fd;
    }
  }
  .PromiseMirror {
    margin: 1rem !important;
  }

  .menubar__button {
    //margin: 0 0.5rem;
    padding: 0 !important;
  }

  .c-icon {
    margin: 0 0.5rem;
    i {
      font-size: 1rem;
    }
  }
}
</style>
