<template>
  <div class="icons-group">
    <icon icon="icon-undo" tooltip="Zpět" @click.native="undo()" />
    <icon icon="icon-redo" tooltip="Znovu" @click.native="redo()" />
  </div>
</template>

<script>
export default {
  name: "EditActions",
  components: { icon: () => import("../../basic/Icon.vue") },
  methods: {
    redo() {
      this.$store.getters["editor/workspace"].undo(true);
    },
    undo() {
      this.$store.getters["editor/workspace"].undo(false);
    },
  },
  created() {
    var ref = this;
    window.addEventListener("keydown", function(e) {
      var key = e.which || e.keyCode;
      var ctrl = e.ctrlKey ? e.ctrlKey : key === 17;
      if (ctrl && key === 89) {
        e.preventDefault();
        ref.redo();
      }
    });
  },
};
</script>
