<template>
  <div>
    <icon
      icon="icon-new-file"
      tooltip="Nový program"
      @click.native="showNewModal"
    />
    <icon
      icon="icon-open"
      tooltip="Načíst program"
      @click.native="openFile()"
    />
    <icon
      icon="icon-download"
      tooltip="Stáhnout program"
      @click.native="download()"
    />
    <icon icon="icon-save" tooltip="Uložit" @click.native="localSave()" />
    <input
      id="inputFile"
      ref="inputFile"
      type="file"
      accept=".xml"
      @change="renderFile"
    />

    <snackbar id="toast" ref="toast" msg="Uloženo" />
    <modal
      v-show="nameModalVisible"
      name="Stažení programu"
      btext
      :show-cancel="false"
      @close="closeNameError"
      @ok="closeNameError"
    >
      Program nelze stáhnout! Název programu nesmí obsahovat následující znaky:
      &lt; &gt; : &quot; / \ * ? |
    </modal>

    <modal
      v-show="isNewWorkspaceModalVisible"
      name="Pracovní plocha"
      :show-cancel="true"
      @close="closeNewModal"
      @ok="closeNewOkModal"
    >
      Opravdu chcete vytvořit nový program?
    </modal>

    <modal
      v-show="fileError"
      name="Chyba"
      :show-cancel="false"
      @close="fileError = false"
    >
      Poškozený nebo neplatný soubor!
    </modal>

    <spinner :show="showSpinner" />
  </div>
</template>

<script>
import Blockly from "blockly";
export default {
  name: "FileActions",
  components: {
    icon: () => import("../../basic/Icon.vue"),
    modal: () => import("../../basic/Modal.vue"),
    snackbar: () => import("../../basic/Snackbar.vue"),
    spinner: () => import("../../basic/Spinner.vue"),
  },
  props: ["title", "nameError"],
  data: function() {
    return {
      nameModalVisible: false,
      isNewWorkspaceModalVisible: false,
      showSpinner: false,
      showToast: false,
      fileError: false,
    };
  },
  created() {
    var ref = this;
    window.addEventListener("keydown", function(e) {
      var key = e.which || e.keyCode; // keyCode detection
      var ctrl = e.ctrlKey ? e.ctrlKey : key === 17; // ctrl detection

      if (ctrl) {
        switch (key) {
          case 69:
            e.preventDefault();
            ref.showNewModal();
            break;
          case 79:
            e.preventDefault();
            ref.openFile();
            break;
          case 68:
            ref.download();
            break;
          case 83:
            ref.localSave();
            break;
        }
      }
    });
  },
  methods: {
    download: function() {
      if (this.$props.nameError) {
        this.showNameError();
      } else {
        var title = this.$props.title;
        if (title === "") {
          title = "bez_nazvu.xml";
        } else {
          title += ".xml";
        }
        var xml = Blockly.Xml.workspaceToDom(
          this.$store.getters["editor/workspace"]
        );
        var xmlText = Blockly.Xml.domToText(xml);

        var blob = new Blob([xmlText], {
          type: "data:application/xml;charset=utf-8;",
        });

        if (window.navigator.msSaveBlob) {
          window.navigator.msSaveBlob(blob, title);
        } else if ("Blob" in window) {
          var element = document.createElement("a");
          element.setAttribute(
            "href",
            "data:application/xml;charset=utf-8," + encodeURIComponent(xmlText)
          );
          element.setAttribute("download", title);
          element.style.display = "none";
          document.body.appendChild(element);
          element.click();

          document.body.removeChild(element);
        } else {
          alert("Váš prohlížeč nepodporuje HTML5 Blob.");
        }
      }
    },
    renderFile: function(e) {
      var ref = this;
      var fileList = e.target.files;

      const worker = new Worker("./utils/file.worker.js");
      worker.postMessage(fileList[0]);
      ref.showSpinner = true;
      worker.onmessage = function(event) {
        try {
          var xml = Blockly.Xml.textToDom(event.data);
          ref.$store.getters["editor/workspace"].clear();
          setTimeout(function() {}, 3000);
          Blockly.Xml.domToWorkspace(
            xml,
            ref.$store.getters["editor/workspace"]
          );
          // ref.programName = fileList[0].name.split('.')[0]
          ref.$root.$emit("changeName", fileList[0].name.split(".")[0]);
          ref.showSpinner = false;
          ref.$refs.inputFile.value = "";
          this.terminate();
        } catch (ex) {
          ref.showSpinner = false;
          // ref.showFileOpenModal()
          // window.alert('Poškozený nebo neplatný soubor!')

          ref.fileError = true;
          worker.terminate();
        }
      };
    },
    openFile: function() {
      if ("FileReader" in window) {
        this.$refs.inputFile.click();
      } else {
        alert("Váš prohlížeč nepodporuje HTML5 FileReader.");
      }
    },

    setNewWorkspace() {
      var w = this.$store.getters["editor/workspace"];
      w.clear();
      localStorage.removeItem("code");
      this.$root.$emit("clearCanvas");
      this.$root.$emit("changeName", "");
      this.$store.commit("editor/clearOutput");
      this.programName = "";
    },

    showNameError() {
      this.nameModalVisible = true;
    },
    closeNameError() {
      this.nameModalVisible = false;
    },
    showNewModal() {
      this.isNewWorkspaceModalVisible = true;
    },
    closeNewModal() {
      this.isNewWorkspaceModalVisible = false;
    },

    closeNewOkModal() {
      this.setNewWorkspace();
      this.closeNewModal();
    },
    localSave() {
      var workspace = this.$store.getters["editor/workspace"];
      var xml = Blockly.Xml.workspaceToDom(workspace);
      localStorage.setItem("code", Blockly.Xml.domToText(xml));
      this.$refs.toast.show();
      this.showToast = true;
    },
  },
};
</script>

<style lang="scss">
#inputFile {
  display: none;
}
</style>
