<template>
  <div class="icons-group">
    <icon
      icon="icon-run green-icon"
      tooltip="Spustit"
      @click.native="run()"
      :disabled="runEn"
    />
    <icon
      icon="icon-canvas-modal"
      tooltip="Plátno"
      @click.native="showCanvas = true"
    />
    <icon
      icon="icon-bug"
      tooltip="Spustit ladění"
      secondaryIcon="icon-run"
      secondaryColor="green-icon"
      :disabled="debugEn"
      @click.native="start()"
    />
    <icon
      icon="icon-backward"
      tooltip="Krok zpět"
      :disabled="prevEn"
      @click.native="makeStepBack()"
    />
    <icon
      icon="icon-forward"
      tooltip="Krok vpřed"
      :disabled="nextEn"
      @click.native="makeStep()"
    />
    <icon
      icon="icon-bug"
      tooltip="Zastavit ladění"
      secondaryIcon="icon-stop-solid"
      secondaryColor="red-icon"
      :disabled="stopEn"
      @click.native="stop()"
    />

    <modal
      v-show="showCanvas"
      name="Plátno"
      :show-cancel="false"
      :show-ok="false"
      @close="showCanvas = false"
    >
      <canvasComponent />
    </modal>

    <modal
      v-show="warning"
      name="Spuštění"
      :show-cancel="false"
      @close="warning = false"
    >
      {{ warningText }}
    </modal>

    <modal
      v-show="error"
      name="Chyba"
      :show-cancel="false"
      @close="error = false"
    >
      Něco se pokazilo. Zkontrolujte si prosím, zda nepoužíváte proměnnou bez
      hodnoty.
    </modal>
  </div>
</template>
<script>
import Blockly from "blockly";
import "@/blocks/canvas";
import "@/blocks/lines";
import "@/blocks/shapes";
import "@/blocks/text";
import "@/blocks/variables";
/*
import "@/blocks/drawing";
i*/
//import "@/blocks/generator";

import { Canvas } from "@/blockly/drawing-api";
import { Debug } from "@/blockly/debug";

export default {
  name: "Run",
  components: {
    icon: () => import("../../basic/Icon.vue"),
    modal: () => import("../../basic/Modal.vue"),
    canvasComponent: () => import("../CanvasComponent.vue"),
  },
  props: ["visibility"],
  data: function() {
    return {
      showCanvas: false,
      warning: false,
      warningText: "",
      debug: false,

      error: false,

      //debug
      nextEn: true,
      prevEn: true,
      stopEn: true,
      debugEn: false,
      runEn: false,

      variableDB: {},
      code: "",
      interpreter: null,
      globalVariables: {},
      globals: {},

      printType: "global",
      procedures: {},
      allProcedures: {},

      highlightPause: false,
      localsSet: null,
      scope: "global",

      variables: {},
      variablesLatest: {},

      moves: 0,
      publicPath: process.env.BASE_URL,
    };
  },
  created() {
    var ref = this;
    window.addEventListener("keydown", function(e) {
      var key = e.which || e.keyCode; // keyCode detection
      var ctrl = e.ctrlKey ? e.ctrlKey : key === 17; // ctrl detection
      if (ctrl) {
        e.preventDefault();
        switch (key) {
          case 76:
            e.preventDefault();
            ref.run();
            break;

          case 75:
            ref.showCanvas = true;
            break;
        }
      }
    });

    window.LoopTrap = 1000;
    Blockly.JavaScript.INFINITE_LOOP_TRAP =
      'if(--window.LoopTrap == 0) throw "Infinite loop.";\n';
  },
  methods: {
    run() {
      var ws = this.$store.getters["editor/workspace"];
      ws.highlightBlock(null);

      if (!this.debug) {
        if (ws.getAllBlocks().length != 0 || ws.getAllVariables().length != 0) {
          var code = Blockly.JavaScript.workspaceToCode(ws);

          if (localStorage.getItem("saving") && this.visibility) {
            var xml = Blockly.Xml.workspaceToDom(ws);
            localStorage.setItem("code", Blockly.Xml.domToText(xml));
          }

          if (
            localStorage.getItem("opening") === "true" &&
            !this.$store.getters["editor/openPanel"]
          ) {
            this.$root.$emit("openOutputTab");
          }

          if (
            localStorage.getItem("opening") === "true" &&
            this.$store.getters["editor/openPanel"]
          ) {
            this.$root.$emit("openOutputTabFromAnother");
          }
          this.$root.$emit("running", true);
          if ("OffscreenCanvas" in window) {
            this.offscreenCanvasRender(code);
          } else {
            this.canvasRender(code);
          }
        } else {
          this.showWarning(
            "Pracovní plocha neobsahuje žádné bloky, nelze nic spustit."
          );
        }
      } else {
        this.showWarning("Ladění běží, program nelze spustit.");
      }
    },
    /*eslint-disable */
    offscreenCanvasRender(code) {
      var worker = null;
      if (this.visibility) {
        worker = new Worker("./utils/interpreter.offscreen.worker.js");
      } else {
        worker = new Worker("../../../utils/interpreter.offscreen.worker.js");
      }
      var ref = this;
      worker.postMessage({ code: code });

      worker.onmessage = function(event) {
        if (event.data.error) {
          ref.error = true;
          console.log(error);
        } else {
          if (event.data.output !== null) {
            ref.$store.commit("editor/addToOutput", event.data.output);

            if (event.data.output == "---Konec programu---") {
              ref.$root.$emit("running", false);
            }
          }

          if (event.data.canvas !== null) {
            const canvas = document.createElement("canvas");
            if (event.data.canvas.width !== null) {
              canvas.width = event.data.canvas.width;
              canvas.height = event.data.canvas.height;
            }

            canvas.style.backgroundColor = event.data.color;
            canvas
              .getContext("bitmaprenderer")
              .transferFromImageBitmap(event.data.canvas);
            ref.$store.commit("editor/setCanvas", canvas);
            ref.$root.$emit("updateCanvas");
          }
        }
      };

      worker.onerror = function(e) {
        e.preventDefault();
        ref.error = true;
        ref.$root.$emit("running", true);
      };
    },
    canvasRender(code) {
      var myInterpreter = new window.Interpreter(code, this.initApi);
      try {
        myInterpreter.run();
      } catch (error) {
        this.$root.$emit("showErrorIndicator");
        this.errorRunning();
        this.runError = true;
        this.$root.$emit("running", true);
      }

      this.$store.commit("editor/setCanvas", Canvas.windowCanvas);
      this.$root.$emit("updateCanvas");
      this.$store.commit("editor/addToOutput", "---Konec programu---");
      this.$root.$emit("running", false);
    },
    initApi(interpreter, scope) {
      interpreter.setProperty(
        scope,
        "alert",
        interpreter.createNativeFunction((val) => {
          val = val ? val.toString() : "";
          this.$store.commit("editor/addToOutput", val);
        })
      );

      Canvas.initWindowCanvas();
      Canvas.initInterpreter(interpreter, scope);
    },

    start() {
      var ws = this.$store.getters["editor/workspace"];
      if (ws.getAllBlocks().length === 0 && ws.getAllVariables().length === 0) {
        this.showWarning(
          "Pracovní plocha neobsahuje žádné bloky, nelze nic ladit."
        );
      } else {
        if (!this.debugEn) {
          this.debug = true;
          this.generateCode();
        }
      }
    },

    generateCode() {
      var w = this.$store.getters["editor/workspace"];
      Blockly.JavaScript.STATEMENT_SUFFIX = "highlightBlock(%1);\n";
      Blockly.JavaScript.STATEMENT_PREFIX = "checkBlock(%1);\n";
      this.code = Blockly.JavaScript.workspaceToCode(w);
      this.interpreter = new window.Interpreter(this.code, this.initDebugApi);

      this.runEn = true;
      this.prevEn = true;
      this.nextEn = false;
      this.debugEn = true;
      this.stopEn = false;

      this.variableDB = Blockly.Variables.allUsedVarModels(w);

      this.variableDB.forEach((element) => {
        var v = this.interpreter.getValueFromScope(element.name);
        this.globals[element.name] = v.data;
        Debug.variables[element.name] = v.data;
      });

      this.variables = Debug.variables;
      Debug.variablesLatest = this.iterationCopy(Debug.variables);

      var p = Blockly.Procedures.allProcedures(w);
      this.allProcedures = p;
      var locals = this.getBlocksByType("local_definition");

      if (p.length >= 2) {
        // rozdeleni
        if (p[0].length === 0 && p[1].length === 0) {
          this.printType = "global";
        } else {
          this.printType = "local";
          this.localsSet = new Set();
          p.forEach((proc) => {
            if (proc.length != 0) {
              var n = proc[0][0]; //nazev procedury
              this.procedures[n] = {};

              if (proc[0][1].length > 0) {
                proc[0][1].forEach((v) => {
                  /*if (v in this.globals) {
                    delete this.globals[v];
                  }*/
                  this.localsSet.add(v);
                  this.procedures[n][v] = "";
                });
              }
            }
          });
        }

        // najdi lokalni promenne ve funkcích
        if (locals.length !== 0) {
          locals.forEach((l) => {
            var root = l.getRootBlock();
            var parent = root.getProcedureDef()[0];

            var name = w.getVariableById(l.getFieldValue("NAME")).name;
            this.localsSet.add(name);
            this.procedures[parent][name] = "";
          });
        }
      }

      //
      this.$root.$emit(
        "initDebug",
        this.variables,
        this.procedures,
        this.globals,
        this.printType
      );

      this.stepF();
    },

    initDebugApi(interpreter, scope) {
      interpreter.setProperty(
        scope,
        "highlightBlock",
        interpreter.createNativeFunction((id) => {
          id = id ? id.toString() : "";
          this.highlightBlock(id);
        })
      );

      interpreter.setProperty(
        scope,
        "alert",
        interpreter.createNativeFunction((val) => {
          val = val ? val.toString() : "";
          //this.$store.commit("editor/addOutputItem", val);
        })
      );

      interpreter.setProperty(
        scope,
        "checkBlock",
        interpreter.createNativeFunction((id) => {
          id = id ? id.toString() : "";
          this.checkBlock(id);
        })
      );

      Canvas.initWindowCanvas();
      Canvas.initInterpreter(interpreter, scope);
    },

    highlightBlock(id) {
      var selectBlock = this.$store.getters["editor/workspace"].getBlockById(
        id
      );
      if (
        selectBlock.type === "procedures_defnoreturn" ||
        selectBlock.type === "procedures_defnoreturn"
      ) {
        this.scope = selectBlock.getRootBlock().getProcedureDef()[0];
      } else {
        var root = selectBlock.getRootBlock();

        if (root.type.includes("procedure")) {
          if (root.getProcedureDef) {
            //=== "[object Function]"
            this.scope = root.getProcedureDef()[0];
          }
        } else {
          this.scope = "global";
        }
      }

      if (
        this.$store.getters["editor/workspace"].getBlockById(id).type !==
        "procedures_callnoreturn"
      ) {
        this.$store.getters["editor/workspace"].highlightBlock(id);
        this.highlightPause = true;
      }
    },

    checkBlock(id) {
      if (
        this.$store.getters["editor/workspace"].getBlockById(id).type ===
        "procedures_callnoreturn"
      ) {
        this.$store.getters["editor/workspace"].highlightBlock(id);
        this.highlightPause = true;
      }
    },

    resetHiglight() {
      this.$store.getters["editor/workspace"].highlightBlock(null);
      this.highlightPause = false;
    },

    stop() {
      this.runEn = false;
      this.nextEn = true;
      this.prevEn = true;
      this.stopEn = true;
      this.debugEn = false;
      this.moves = 0;
      this.resetHiglight();
      Blockly.JavaScript.STATEMENT_SUFFIX = "";
      Blockly.JavaScript.STATEMENT_PREFIX = "";
      Debug.variables = {};
      this.debug = false;
    },
    makeStep() {
      try {
        this.stepF();
        this.$store.commit("editor/setCanvas", Canvas.windowCanvas);
        this.$root.$emit("updateCanvas");
        this.updateVariables();
      } catch (error) {
        this.stop();
      }
    },
    stepF() {
      do {
        try {
          var hasMoreCode = this.interpreter.step();
        } finally {
          if (!hasMoreCode) {
            // Program complete, no more code to execute.
            this.highlightPause = false;
            this.interpreter = null;

            this.resetHiglight();
            this.stop();
          }
        }
        // Keep executing until a highlight statement is reached,
        // or the code completes or errors.
      } while (hasMoreCode && !this.highlightPause);
      if (this.highlightPause) {
        Debug.moves++;
        // Blok zvyrazněn --> pauza a vypis promennych
        this.highlightPause = false;
        this.updateVariables();
        this.prevEn = false;
        if (Debug.moves <= 1) {
          this.prevEn = true;
        } else {
          this.prevEn = false;
        }
      } else {
        this.stepF();
      }
    },
    stepB() {
      // var workspace = this.$store.getters['editor/workspace']
      Debug.moves--;
      // var code = window.Blockly.JavaScript.workspaceToCode(workspace)
      this.interpreter = new window.Interpreter(this.code, this.initDebugApi);

      this.nextEn = false;

      this.resetHiglight();
      var limit = Debug.moves;
      Debug.variables = {};
      Debug.variablesLatest = {};
      for (var i = 0; i < limit; i++) {
        this.stepF();
      }
      Debug.moves = limit;
    },
    makeStepBack() {
      this.stepB();
      this.$store.commit("editor/setCanvas", Canvas.windowCanvas);
      this.$root.$emit("updateCanvas");
      this.updateVariables();
      if (Debug.moves <= 1) {
        this.prevEn = true;
      } else {
        this.prevEn = false;
      }
    },
    iterationCopy(src) {
      let target = {};
      for (let prop in src) {
        if (src.hasOwnProperty(prop)) {
          target[prop] = src[prop];
        }
      }
      return target;
    },
    updateVariables() {
      // var workspace = this.$store.getters['editor/workspace']
      // console.log(window.Blockly.allProcedures)

      this.variableDB.forEach((element) => {
        var v = this.interpreter.getValueFromScope(element.name);
        if (v.data !== undefined) {
          Debug.variables[element.name] = v.data;
        } else {
          Debug.variables[element.name] = v.toString();
        }

        if (
          Debug.variablesLatest[element.name] !== undefined &&
          Debug.variables[element.name] === undefined
        ) {
          Debug.variables[element.name] = Debug.variablesLatest[element.name];
        }
      });
      this.variables = this.iterationCopy(Debug.variables);
      if (this.scope !== "global" && this.printType === "local") {
        /* console.log(this.procedures)
        var clone = Object.assign({}, this.procedures)
        delete clone[this.scope]
        console.log(clone) */
        Object.keys(this.variables).forEach((i) => {
          if (this.procedures[this.scope].hasOwnProperty(i)) {
            this.procedures[this.scope][i] = this.variables[i];
            this.procedures = Object.assign({}, this.procedures);
          } else if (!this.localsSet.has(i)) {
            this.globals[i] = this.variables[i];
            this.globals = Object.assign({}, this.globals);
          }
        });
      } else if (this.scope === "global" && this.printType === "local") {
        Object.keys(this.variables).forEach((i) => {
          if (!this.localsSet.has(i)) {
            this.globals[i] = this.variables[i];
            this.globals = Object.assign({}, this.globals);
          }
        });
      } else {
        Object.keys(this.globals).forEach((g) => {
          if (this.globals.hasOwnProperty(g)) {
            this.globals[g] = this.variables[g];
            this.globals = Object.assign({}, this.globals);
          }
        });
      }
      Debug.variablesLatest = this.iterationCopy(Debug.variables);
      //console.log(this.procedures);
      this.$root.$emit(
        "initDebug",
        this.variables,
        this.procedures,
        this.globals,
        this.printType
      );
    },

    showWarning(text) {
      this.warningText = text;
      this.warning = true;
    },
    getBlocksByType(type) {
      var w = this.$store.getters["editor/workspace"];
      var blocks = [];
      for (var blockID in w.blockDB_) {
        if (w.blockDB_[blockID].type === type) {
          blocks.push(w.blockDB_[blockID]);
        }
      }
      return blocks;
    },
  },
  /*eslint-enable */
};
</script>
