<template>
  <div class="icons-group views-actions">
    <icon icon="icon-zoom-out" tooltip="Oddálit" @click.native="scaleDown()" />
    <!--<Zoomer ref="zoomer" />-->

    <div class="zoomer tooltip">
      <select
        class="editableBox"
        ref="selectZoom"
        id="selectZoom"
        @change="selectValue"
        @mouseenter="showBorder"
        @mouseleave="hideBorder"
      >
        <option value="50">50%</option>
        <option value="75">75%</option>
        <option value="90">90%</option>
        <option value="100" selected>100%</option>
        <option value="125">125%</option>
        <option value="150">150%</option>
        <option value="175">175%</option>
      </select>
      <input
        class="timeTextBox"
        id="valueZoom"
        type="number"
        name="timebox"
        v-model="value"
        min="50"
        max="175"
        ref="zoom"
        @change="changeZoom"
        @mouseenter="showBorder"
        @mouseleave="hideBorder"
      />
      <input
        id="percent"
        value="%"
        @mouseenter="showBorder"
        @mouseleave="hideBorder"
      />
      <tooltip msg="Lupa" />
    </div>
    <icon icon="icon-zoom-in" tooltip="Přiblížit" @click.native="scaleUp()" />
  </div>
</template>

<script>
export default {
  name: "ViewActions",
  components: {
    icon: () => import("../../basic/Icon.vue"),
    tooltip: () => import("../../basic/Tooltip.vue"),
    //Zoomer: () => import("./Zoomer.vue"),
  },
  data: function() {
    return {
      maxScale: 1.75,
      minScale: 0.5,
      actualScale: 1,
      step: 0.25,
      value: 100,
    };
  },
  created() {
    var ref = this;
    window.addEventListener("keydown", function(e) {
      var key = e.which || e.keyCode; // keyCode detection
      var ctrl = e.ctrlKey ? e.ctrlKey : key === 17; // ctrl detection
      if (ctrl) {
        e.preventDefault();
        switch (key) {
          case 187:
            ref.scaleUp();
            break;
          case 189:
            ref.scaleDown();
            break;
        }
      }
    });
  },
  methods: {
    selectValue() {
      var e = this.$refs.selectZoom;
      var selected = e.options[e.selectedIndex].value;
      // this.$refs.zoom.value = selected
      this.value = selected;
      this.$store.getters["editor/workspace"].setScale(selected / 100);
    },
    changeZoom(e) {
      var z = e.target.value;
      if (z < 50 || z > 175) {
        z = 100;
        e.target.value = 100;
      }
      this.$store.getters["editor/workspace"].setScale(z / 100);
    },
    getActualValue() {
      return this.value;
    },
    setActualValue(value) {
      this.value = value;
    },
    showBorder() {
      this.$refs.selectZoom.style.border = "2px solid #2196F3";
    },
    hideBorder() {
      this.$refs.selectZoom.style.border = "2px solid #0b2239";
    },
    scaleUp() {
      var v = this.getActualValue() / 100;
      if (v + this.step <= this.maxScale) {
        this.actualScale = v + this.step;
        this.setActualValue(Math.round(this.actualScale * 100));
        this.$store.getters["editor/workspace"].setScale(this.actualScale);
      }
    },

    scaleDown() {
      var v = this.getActualValue() / 100;
      if (v - this.step >= this.minScale) {
        this.actualScale = v - this.step;
        this.setActualValue(this.actualScale * 100);
        this.$store.getters["editor/workspace"].setScale(this.actualScale);
      }
    },
  },
  mounted() {
    this.selectValue();
  },
};
</script>

<style lang="scss">
.views-actions {
  display: flex;
  align-items: center;
}

.zoomer {
  box-sizing: content-box;
  width: 4.5rem;
  height: 2rem;
  position: relative;
  padding: 3px 3px 0px 3px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.editableBox {
  //position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  border: 2px solid $primary-dark-color;
  border-radius: 3px;
  background-color: white;
  -moz-appearance: none;
  outline: none;

  &:hover {
    border: 2px solid $primary-color;
  }
}

.timeTextBox {
  position: absolute;
  width: 50%;
  top: 6px;
  left: 6px;
  //padding: 0.2em;
  height: 26px;
  border: none;
  text-align: center;
  //visibility: hidden;
}

.timeTextBox {
  border: none;
  outline: none;
}

#valueZoom:hover .zoomer:nth-child(1) {
  border: 2px solid $primary-color;
}

#percent {
  position: absolute;
  background-color: white;
  height: 26px;
  top: 6px;
  border: 0;
  outline: 0;
  width: 1.5em;
  left: 49%;
  pointer-events: none;
}
</style>
