@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9zltmx');
  src:  url('fonts/icomoon.eot?9zltmx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9zltmx') format('truetype'),
    url('fonts/icomoon.woff?9zltmx') format('woff'),
    url('fonts/icomoon.svg?9zltmx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\e903";
}
.icon-text-category:before {
  content: "\e901";
}
.icon-new-file:before {
  content: "\e900";
}
.icon-math-category:before {
  content: "\e902";
}
