@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sr420l');
  src:  url('fonts/icomoon.eot?sr420l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sr420l') format('truetype'),
    url('fonts/icomoon.woff?sr420l') format('woff'),
    url('fonts/icomoon.svg?sr420l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-strikethrough-solid:before {
  content: "\e929";
}
.icon-copy-solid:before {
  content: "\e92a";
}
.icon-italic-solid1:before {
  content: "\e92b";
}
.icon-heading-solid-11:before {
  content: "\e92c";
}
.icon-italic-solid:before {
  content: "\e92d";
}
.icon-heading-solid-1:before {
  content: "\e92e";
}
.icon-paragraph-solid:before {
  content: "\e92f";
}
.icon-bold-solid:before {
  content: "\e930";
}
.icon-window-minimize-regular:before {
  content: "\e931";
}
.icon-underline-solid:before {
  content: "\e932";
}
.icon-list-ul-solid:before {
  content: "\e933";
}
.icon-rocket:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e928";
}
.icon-plus:before {
  content: "\e923";
}
.icon-folder-plus:before {
  content: "\e924";
}
.icon-layer:before {
  content: "\e925";
}
.icon-pen:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e922";
}
.icon-angle-left:before {
  content: "\e920";
}
.icon-angle-right:before {
  content: "\e921";
}
.icon-chevron-left:before {
  content: "\e91e";
}
.icon-chevron-right:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e91c";
}
.icon-sign-out:before {
  content: "\e91d";
}
.icon-bars:before {
  content: "\e91b";
}
.icon-angle-up:before {
  content: "\e918";
}
.icon-trash:before {
  content: "\e919";
}
.icon-times:before {
  content: "\e91a";
}
.icon-backward:before {
  content: "\e914";
}
.icon-bug:before {
  content: "\e915";
}
.icon-forward:before {
  content: "\e916";
}
.icon-stop-solid:before {
  content: "\e917";
}
.icon-text-category:before {
  content: "\e90a";
}
.icon-list-ol:before {
  content: "\e90c";
}
.icon-shapes:before {
  content: "\e90d";
}
.icon-loop-category:before {
  content: "\e90e";
}
.icon-canvas-modal:before {
  content: "\e908";
}
.icon-run:before {
  content: "\e909";
}
.icon-zoom-out:before {
  content: "\e906";
}
.icon-zoom-in:before {
  content: "\e907";
}
.icon-redo:before {
  content: "\e904";
}
.icon-undo:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e900";
}
.icon-new-file:before {
  content: "\e901";
}
.icon-open:before {
  content: "\e902";
}
.icon-save:before {
  content: "\e903";
}
.icon-canvas:before {
  content: "\e90b";
}
.icon-function:before {
  content: "\e90f";
}
.icon-logic-category:before {
  content: "\e910";
}
.icon-math-category:before {
  content: "\e911";
}
.icon-variable:before {
  content: "\e912";
}
.icon-lines-colors:before {
  content: "\e913";
}
