<template>
  <button
    class="btn"
    :disabled="disabled"
    :class="[
      {
        'is-disabled': disabled,
        'is-outlined': outlined,
        'is-expanded': expanded,
        tooltip: tooltip,
      },
    ]"
  >
    <span v-if="label">{{ label }}</span>
    <span v-else-if="$slots.default">
      <tooltip :msg="tooltipText" />
      <slot />
    </span>
  </button>
</template>

<script>
import tooltip from "@/components/basic/Tooltip.vue";

export default {
  name: "CButton",
  props: {
    label: String,
    expanded: Boolean,
    outlined: Boolean,
    disabled: Boolean,
    tooltip: Boolean,
    color: String,
    tooltipText: String,
  },
  components: {
    tooltip,
  },
  methods: {
    action(e) {
      this.$emit("click", e);
    },
  },
};
</script>

<style lang="scss"></style>
