<template>
  <div class="footer">
    &copy; Veronika Vašinová {{ new Date().getFullYear() }}
    <span>|</span>
    <span>
      <router-link to="/napoveda">Nápověda</router-link>
    </span>
    <span>|</span>
    <span>
      <router-link to="/kontakt">Kontakt</router-link>
    </span>
  </div>
</template>

<script>
export default {
  name: "CFooter",
};
</script>

<style lang="scss">
.footer {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;

  span {
    margin-left: 0.5rem;
  }

  a {
    color: $primary-dark-color;
    text-decoration: none;
    &:hover {
      font-weight: 600;
    }
  }
}</style
>>
