<template>
  <span class="cicon tooltip" :class="[{ disabled: disabled }]">
    <i :class="icon" />
    <i
      :class="[secondaryIcon, secondaryColor, { disabled: disabled }]"
      class="icon-secondary"
      v-if="secondaryIcon != ''"
    />
    <tooltip :msg="tooltip" />
  </span>
</template>

<script>
import tooltip from "@/components/basic/Tooltip.vue";

export default {
  name: "CIcon",
  components: { tooltip },
  props: {
    icon: { type: String, default: "" },
    secondaryIcon: { type: String, default: "" },
    secondaryColor: { type: String, default: "" },
    tooltip: { type: String, default: "" },
    disabled: { type: Boolean, default: false },
  },
};
</script>

<style lang="scss">
.cicon {
  padding: 0.4rem 0.6rem;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  position: relative;

  i {
    display: block;
    font-size: 1.3rem;
  }

  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #e1f5fe;
    color: $primary-color;
  }

  &:active .icon-secondary {
    background-color: #e1f5fe;
    color: $primary-color;
  }
}

.disabled {
  color: $border-color !important;
  cursor: not-allowed;
  pointer-events: none;
}

.icon-secondary.disabled {
  color: darken($border-color, 10) !important;
}

.icons-group {
  display: flex;
  flex-wrap: wrap;
}

.icons-group-small .cicon i {
  font-size: 1rem;
}

.icon-secondary {
  position: absolute;
  top: 1rem;
  right: 3px;
  font-size: 0.8rem !important;

  padding-right: 0.1rem;
  &:active {
    background-color: #e1f5fe;
    color: $primary-color;
  }
}

.green-icon {
  color: $success-color;
}

.red-icon {
  color: $danger-color-darken;
}

@media only screen and (max-width: 992px) {
  .cicon {
    i {
      font-size: 1.5rem;
    }
  }
}
</style>
