<template>
  <div class="input-group">
    <label>{{ label }}</label>
    <input
      v-if="type !== 'textarea'"
      ref="input"
      class="form-control"
      :type="type"
      :value="value"
      v-bind="$attrs"
    />

    <textarea
      v-else
      ref="textarea"
      class="textarea"
      :value="value"
      v-bind="$attrs"
    />

    <div class="error-message">{{ error }}</div>
  </div>
</template>

<script>
export default {
  name: "CInput",
  props: {
    value: [Number, String],
    type: {
      type: String,
      default: "text",
    },
    label: {
      type: String,
      default: "",
    },
    error: {
      type: String,
      default: "",
    },
  },
};
</script>
