<template>
  <load :show="showLoading"> </load>
</template>

<script>
//import { mapGetters } from "vuex";
export default {
  name: "Loading",
  computed: {
    showLoading() {
      return this.$store.getters["loading/showLoading"];
    },
  },

  components: { load: () => import("@/components/basic/Spinner.vue") },
};
</script>
