<template>
  <transition name="modal-fade">
    <div class="modal-backdrop" @click="close">
      <div class="modal" ref="modal-back">
        <header class="modal-header">
          <h3 class="title">
            {{ name }}
          </h3>
          <button type="button" class="btn-close" @click="close">
            <i class="icon-times" />
          </button>
        </header>
        <section class="modal-body">
          <slot />
        </section>
        <footer class="modal-footer">
          <button v-if="showCancel" class="btn is-outlined mr-2" @click="close">
            Zrušit
          </button>
          <button v-if="showOk" class="btn" @click="ok">
            OK
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  props: {
    name: String,
    btext: String,
    showCanvas: Boolean,
    showCancel: Boolean,
    showOk: { type: Boolean, default: true },
  },
  created() {
    var ref = this;
    window.addEventListener("keydown", function(e) {
      var key = e.which || e.keyCode; // keyCode detection
      if (key === 27) {
        e.preventDefault();
        ref.close();
      }

      /*if (key === 13) {
        e.preventDefault();
        ref.ok();
      }*/
    });
  },
  mounted() {
    /*var ref = this;
    this.$refs["modal-back"].addEventListener("keydown", function(e) {
      var key = e.which || e.keyCode; // keyCode detection
      if (key === 27) {
        e.preventDefault();
        ref.close();
      }

      if (key === 13) {
        e.preventDefault();
        ref.ok();
      }
    });*/
  },

  methods: {
    close() {
      this.$emit("close");
    },
    ok() {
      this.$emit("ok");
    },
  },
};
</script>
