<template>
  <div class="page-header">
    <div class="page-title">
      <h2>{{ name }}</h2>
    </div>
    <slot />
  </div>
</template>
<script>
export default {
  name: "PageHeader",
  props: ["name"],
};
</script>
<style lang="scss">
.page-header {
  //padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid $border-color;
  padding: 0 0.5rem;
}

.page-title {
  h2 {
    font-size: 1.35rem;
  }
}

.page-header-align {
  display: flex;
  align-items: center;
}
</style>
