<template>
  <div class="search-input-wrapper">
    <input
      type="text"
      :value="value"
      @input="$emit('input', $event.target.value)"
      class="search-input"
      v-on:keyup.enter="action()"
    />
    <button class="search-button tooltip" @click="action()">
      <i class="icon-search"></i>
      <tooltip msg="Hledat" />
    </button>
  </div>
</template>
<script>
import tooltip from "@/components/basic/Tooltip.vue";
export default {
  name: "SearchInput",
  props: {
    value: { type: String, default: "" },
  },
  components: {
    tooltip,
  },

  methods: {
    action(e) {
      console.log("klikam");
      this.$emit("click", e);
    },
  },
};
</script>
<style lang="scss">
.search-input {
  border: 1px solid $border-color;
  background: #fff;
  outline: 0;
  font-size: 0.9rem;
  padding: 9px 9px;
  max-width: 80%;
  border-radius: 4px;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    //box-shadow: 0 0 0 0.125em rgba(74, 137, 220, 0.25);
    border: 1px solid rgba(74, 137, 220, 0.55) !important;
    outline: 0;
  }
}

.search-button {
  border-radius: 4px;
  width: 40px;
  padding: 0 0.5rem;
  outline: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid $primary-color;
  color: white;
  border-left: 0;
  background-color: $primary-color;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10);
  }
}

.search-input-wrapper {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .search-input {
    max-width: 100%;
    width: 100%;
  }
}
</style>
