<template>
  <span class="c-separator" />
</template>
<script>
export default {
  name: "Separator",
};
</script>
<style lang="scss">
.c-separator {
  width: 1px;
  display: inline-block;
  background-color: $border-color;
  height: 2rem;
  margin: 0 0.3rem;
  padding: 0.8rem 0;
}
</style>
