<template>
  <div v-show="visible" ref="snackbar" class="snackbar">
    {{ msg }}
  </div>
</template>

<script>
export default {
  name: "Snackbar",
  props: ["msg"],
  data: function() {
    return {
      visible: false,
    };
  },
  mounted() {
    this.$refs.snackbar.addEventListener("webkitAnimationEnd", (event) => {
      if (event.animationName.includes("fadeout")) {
        this.visible = false;
      }
    });
  },
  methods: {
    show() {
      this.visible = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.snackbar {
  min-width: 150px;
  margin-left: -125px;
  background-color: $primary-dark-color;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0.5rem;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 30px;
  border-radius: 3px;
  -webkit-animation: fadein 0.5s, stay 1s 1s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, stay 1s 1s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes stay {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
</style>
