<template>
  <div class="modal-backdrop" v-show="show">
    <slot></slot>
    <transition>
      <div class="dual-ring"></div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Spinner",
  props: ["show"],
};
</script>

<style lang="scss">
$loader-color: rgba(30, 136, 229, 0.8);
.dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  z-index: 999;
}
.dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $loader-color;
  border-color: $loader-color transparent $loader-color transparent;
  animation: dual-ring 1.2s linear infinite;
}
@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
