<template id="switch-btn">
  <div class="switch-btn-control">
    <div class="switch-btn" :class="{ enabled: toggled }" @click="toggle">
      <div class="s-btn" />
    </div>
  </div>
</template>

<script>
export default {
  name: "SwitchC",
  model: {
    prop: "toggled",
    event: "toggle",
  },
  props: ["toggled"],
  methods: {
    toggle() {
      this.$emit("toggle", !this.toggled);
    },
  },
};
</script>

<style lang="scss">
.switch-btn-control {
  display: flex;
  flex-direction: row;
  align-items: center;

  .switch-btn {
    $switch-button-height: 1.6em;
    $switch-button-color: $primary-color;
    $switch-button-border-thickness: 2px;
    $switch-transition: all 0.3s ease-in-out;
    $switch-is-rounded: true;

    height: $switch-button-height;
    width: calc(#{$switch-button-height} * 2);
    border: $switch-button-border-thickness solid $switch-button-color;
    box-shadow: inset 0px 0px $switch-button-border-thickness 0px
      rgba(0, 0, 0, 0.33);
    border-radius: $switch-button-height;

    transition: $switch-transition;

    $button-side-length: calc(
      #{$switch-button-height} - (2 * #{$switch-button-border-thickness})
    );

    cursor: pointer;

    .s-btn {
      height: $button-side-length;
      width: $button-side-length;
      border: $switch-button-border-thickness solid $switch-button-color;
      border-radius: $button-side-length;
      background: $switch-button-color;
      transition: $switch-transition;
    }

    &.enabled {
      background-color: $switch-button-color;
      box-shadow: none;

      .s-btn {
        background: white;
        transform: translateX(
          calc(
            #{$button-side-length} + (2 * #{$switch-button-border-thickness})
          )
        );
      }
    }
  }
}
</style>
