<template>
  <div class="tooltiptext">
    {{ msg }}
  </div>
</template>

<script>
export default {
  name: "Tooltip",
  props: {
    msg: { type: String, default: "" },
  },
};
</script>
<style lang="scss">
.tooltiptext {
  visibility: hidden;
  background-color: lighten($primary-dark-color, 5%);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  font-size: 0.8rem;
  left: 50%;
  top: 115%;
  transform: translate(-50%, 0%);

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $primary-dark-color transparent;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  user-select: none;

  &:hover .tooltiptext {
    visibility: visible;
  }
}
.tooltip-manual {
  position: relative;
  display: inline-block;
  .tooltiptext {
    transform: translate(-50%, -50%);
  }
}
</style>
