<template>
  <div class="c-canvas">
    <div class="c-tab-heading c-tab-heading-row">
      <h3 class="title is-5">
        Plátno
      </h3>
      <Icon
        icon="icon-trash"
        tooltip="Vyčistit plátno"
        class="c-small-icon"
        @click.native="$root.$emit('clearCanvas')"
      />
    </div>
    <CanvasComponent />
  </div>
</template>
<script>
import CanvasComponent from "@/components/ide/CanvasComponent.vue";
export default {
  name: "Canvas",
  components: { CanvasComponent, Icon: () => import("../../basic/Icon.vue") },
};
</script>
<style lang="scss">
.c-canvas {
  overflow: auto;
  height: 100%;

  .title:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  .c-canvas {
    padding-bottom: 1rem;
    height: 100%;
    min-height: 550px;
    //min-height: 500px;
  }
}
</style>
