<template>
  <div class="debug">
    <div class="c-tab-heading">
      <h3>
        Ladění
      </h3>
    </div>
    <div class="debug-variables">
      <div v-if="printType === 'global'">
        <br />
        <table>
          <thead>
            <tr>
              <td>Jméno</td>
              <td>Hodnota</td>
            </tr>
          </thead>
          <tr v-for="(value, property) in variables" :key="property">
            <td class="variable">
              {{ property }}
            </td>
            <td>{{ value }}</td>
          </tr>
        </table>
      </div>
      <div v-if="printType === 'local'">
        <table>
          <thead>
            <tr>
              <td>Jméno</td>
              <td>Hodnota</td>
            </tr>
          </thead>
          <tr v-for="(e, v) in globals" :key="v">
            <td class="variable">
              {{ v }}
            </td>
            <td>{{ e }}</td>
          </tr>
        </table>

        <br />
        <div v-for="(items, value) in procedures" :key="value">
          <h5>
            <b>{{ value }}</b>
          </h5>
          <table>
            <tr v-for="(val, i) in items" :key="i">
              <td class="variable">
                {{ i }}
              </td>
              <td>{{ val }}</td>
            </tr>
          </table>

          <br />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Debug",
  //components: { modal: () => import("../../basic/ModalDialog.vue") },
  data: function() {
    return {
      printType: "global",
      globals: {},
      localsSet: null,
      emptyWorkspace: false,
      procedures: {},
      allProcedures: {},
      startWarning: "",
      variableDB: {},
      variables: {},
      variablesPrint: {},
      variablesLatest: {},
      reserved: "",
      steps: 0,
      highlightPause: false,
      myInterpreter: null,
      code: "",
      lastValue: "",
      scope: "global",
    };
  },
  mounted() {
    var ref = this;
    this.$root.$on("initDebug", (v, p, g, t) => {
      ref.variables = v;
      ref.procedures = p;
      ref.globals = g;
      ref.printType = t;
    });
  },
};
</script>

<style lang="scss" scoped>
.debug-control {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.debug-variables {
  widows: 100%;
  display: block;
  //
  table {
    width: 100%;

    td {
      width: 50%;
      border: 0;
      border-bottom: 1px solid #eee;
    }

    thead {
      font-weight: 700;
    }

    .variable {
      font-style: italic;
    }
  }
}

.icon-main {
  position: relative;
  font-size: 1.2rem;
}

.icon-secondary {
  position: fixed;
  font-size: 0.7rem;
  padding-top: 0.7rem;
  padding-right: 0.5rem;
}

.run-icon {
  color: #8bc34a;
}
</style>
