<template>
  <div class="help-ide">
    <div class="c-tab-heading">
      <h3>
        Nápověda
      </h3>
    </div>
    <router-link to="/napoveda" target="_blank" class="help-ide-link">
      Otevřít kompletní nápovědu
    </router-link>
    <div class="help-ide-wrapper">
      <div>
        <h4>
          Soubor
        </h4>
        <table class="shortcuts-table">
          <tr v-for="s in file" :key="s.shortcut">
            <td>{{ s.description }}</td>
            <td>{{ s.shortcut }}</td>
          </tr>
        </table>
      </div>
      <div>
        <h4>
          Editace
        </h4>
        <table class="shortcuts-table">
          <tr v-for="s in edit" :key="s.shortcut">
            <td>{{ s.description }}</td>
            <td>{{ s.shortcut }}</td>
          </tr>
        </table>
      </div>
      <div>
        <h4>
          Zobrazení
        </h4>
        <table class="shortcuts-table">
          <tr v-for="s in view" :key="s.shortcut">
            <td>{{ s.description }}</td>
            <td>{{ s.shortcut }}</td>
          </tr>
        </table>
      </div>
      <div>
        <h4>
          Spuštění
        </h4>
        <table class="shortcuts-table">
          <tr v-for="s in run" :key="s.shortcut">
            <td>{{ s.description }}</td>
            <td>{{ s.shortcut }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Help",
  props: ["visibility"],
  data: function() {
    return {
      file: [
        { description: "Nový", shortcut: "Ctrl + E" },
        { description: "Načíst", shortcut: "Ctrl + O" },
        { description: "Stáhnout", shortcut: "Ctrl + D" },
        { description: "Uložit", shortcut: "Ctrl + S" },
      ],
      edit: [
        { description: "Zpět", shortcut: "Ctrl + Z" },
        { description: "Znovu", shortcut: "Ctrl + Y" },
        { description: "Kopírovat", shortcut: "Ctrl + C" },
        { description: "Vyjmout", shortcut: "Ctrl + X" },
        { description: "Vložit", shortcut: "Ctrl + V" },
        { description: "Smazat", shortcut: "Delete" },
      ],
      view: [
        { description: "Přiblížit", shortcut: "Ctrl + =" },
        { description: "Oddálit", shortcut: "Ctrl + -" },
        { description: "Zavřít dialog", shortcut: "Esc" },
      ],
      run: [
        { description: "Spustit", shortcut: "Ctrl + L" },
        { description: "Zobrazit plátno", shortcut: "Ctrl + K" },
      ],
    };
  },
};
</script>

<style lang="scss">
.help-ide h4 {
  margin-bottom: 3px;
  font-size: 1rem;
}

.shortcuts-table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  td {
    width: 50%;
    padding: 0;
  }
}

.help-ide-link {
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  display: block;
  border: 2px solid $primary-color;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 0.75rem;
  white-space: normal;
  height: auto;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

@media only screen and (max-width: 800px) {
  .help-ide {
    padding-bottom: 1rem;
    height: 100%;
    min-height: 550px;
    //min-height: 500px;
  }

  .help-ide-wrapper {
    display: flex;
    flex-wrap: wrap;

    div {
      flex-basis: 50%;
    }
  }
}
</style>
