<template>
  <div class="output">
    <div class="c-tab-heading c-tab-heading-row">
      <h3 class="title is-5">
        Výstup
      </h3>
      <div>
        <span class="running-ring" v-if="running"></span>
        <icon
          icon="icon-trash"
          tooltip="Vymazat výstup"
          class="c-small-icon"
          @click.native="cleanOutput()"
        />
      </div>
    </div>

    <div class="items">
      <ul class="outputItems">
        <li
          v-for="(item, index) in $store.getters['editor/output']"
          :key="index"
        >
          {{ item }}
        </li>
      </ul>
      <p v-if="$store.getters['editor/output'].length === 0">
        Pro zobrazení textu použijte blok "vypiš". <br />
        Pokud kreslíte, výsledek je v záložce Plátno.
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: "Output",
  data() {
    return {
      running: false,
    };
  },
  components: { icon: () => import("../../basic/Icon.vue") },
  methods: {
    cleanOutput() {
      this.$store.commit("editor/clearOutput");
    },
  },
  mounted() {
    this.$root.$on("running", (val) => {
      this.running = val;
      //sp.togglePanel();
    });
  },
};
</script>
<style lang="scss" scoped>
.output {
  height: 100%;
  overflow: hidden;
}
.items {
  max-height: 90%;
  overflow-y: auto;
}
.outputItems {
  padding: 0;
  margin: 0;
  max-height: 80%;

  //max-height: 100% - 6rem;;

  li {
    list-style: none;
    font-family: "Courier New", Courier, monospace;
    padding: 0;
    margin: 0;
  }
}

$loader-color: rgba(30, 136, 229, 0.8);
.running-ring {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  z-index: 999;
}
.running-ring:after {
  content: " ";
  display: block;
  width: 1rem;
  height: 1rem;
  margin-top: -4px;
  border-radius: 50%;
  border: 6px solid $loader-color;
  border-color: $loader-color transparent $loader-color transparent;
  animation: dual-ring 1.2s linear infinite;
}
@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
