<template>
  <div class="settings">
    <div class="c-tab-heading">
      <h3>
        Nastavení
      </h3>
    </div>

    <table class="settings-table">
      <tr>
        <td>Automatické ukládání</td>
        <td class="center-cell">
          <SwitchC v-model="saving" item="saving" />
        </td>
      </tr>
      <tr>
        <td>Při spuštění otevřít záložku VÝSTUP</td>
        <td class="center-cell">
          <SwitchC v-model="opening" item="opening" />
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  name: "Settings",
  components: {
    SwitchC: () => import("../../basic/Switch.vue"),
  },
  data: function() {
    return {
      saving: true,
      opening: false,
    };
  },

  watch: {
    /* eslint-disable */
    saving: function(val, oldVal) {
      this.savingC();
    },
    opening: function(val, oldVal) {
      this.openingC();
    },
    /* eslint-enable */
  },
  mounted() {
    this.saving = this.stringToBoolean(localStorage.getItem("saving"));
    console.log(this.saving);
    this.opening = this.stringToBoolean(localStorage.getItem("opening"));
  },
  methods: {
    openingC() {
      this.$store.commit("editor/setOpening", this.opening);
      localStorage.setItem("opening", this.opening);
    },
    savingC() {
      this.$store.commit("editor/setSaving", this.saving);
      localStorage.setItem("saving", this.saving);
    },
    stringToBoolean(text) {
      if (text == undefined) return true;
      console.log(text);
      return text === "true";
    },
  },
};
</script>
<style lang="scss">
.center-cell {
  margin: 0 auto;
}

.settings-table {
  width: 100%;
  font-size: 0.9rem;

  td {
    padding-top: 0.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .settings-table {
    padding-bottom: 1rem;
    height: 100px;
    //min-height: 500px;
  }
}
</style>
