.auth-header {
    text-align: center;

    h2 {
        margin-top: 0.25rem;
    }
}

.auth-logo {
    max-width: 2.75rem;
}

.auth-link {
    color: darken($primary-color, 7);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.auth-help {
    text-align: right;
    width: 400px;
    margin-top: 0.75em;

    a {
        text-decoration: none;
        font-size: 0.75rem;
        color: #757575;
        font-weight: 600;
        margin-right: 0.5rem;

        ;
    }
}