.blocklyMainBackground {
    stroke-width: 0;
}

.blocklyToolboxDiv {
    background-color: $light-color;
    font-family: OpenSans, Arial, Helvetica, sans-serif !important;
}

.blocklyTreeRoot {
    //border-bottom: 0.25em solid #fff;
    padding: 0;
}

.blocklyTreeRow {
    height: 3.65rem;
    line-height: 25px;
    margin-bottom: 0px;
    padding: 0px 0px 0 0;
    white-space: nowrap;
    cursor: pointer;
}

.blocklyTreeLabel,
.blocklyText {
    font-family: OpenSans, Arial, sans-serif !important;


}

.blocklyText {
    font-size: 0.88rem !important;
}

.categoryIcon {
    text-align: center;
    display: block;

    font-size: 1.5rem;
    width: 6.5rem;
    margin-top: 7px;
    cursor: pointer;
}

.blocklyTreeSelected .categoryIcon {
    color: white;
}

.blocklyTreeLabel {
    font-size: 0.58rem !important;
    padding: 0px;
    padding-top: 8px;
    width: 100%;
    margin: 0px 0px 0px 0;
    text-align: center;
    font-weight: 600;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.blocklyTreeSeparator {
    margin: 2px 0.7em;
    border-bottom: 1px solid $primary-dark-color !important;
    border-right: 1px solid $primary-dark-color !important;
}

.blocklyFlyoutLabelText {
    font-size: 13px;
    font-weight: 600 !important;
    margin: 0;
    padding: 0;
}

.blocklyTreeSelected {
    color: $primary-color;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: $border-color;
}

#blockly\:1>.blocklyTreeRow:nth-child(1):hover,
#text-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $text-category;
    background-color: lighten($text-category, 37%);
}

#blockly\:3>.blocklyTreeRow:hover,
#math-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $math-category;
    background-color: lighten($math-category, 43%);
}

#blockly\:5>.blocklyTreeRow:hover,
#loop-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $loop-category;
    background-color: lighten($loop-category, 53%);
}

#blockly\:7>.blocklyTreeRow:hover,
#logic-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $logic-category;
    background-color: lighten($logic-category, 46%);
}

#blockly\:9>.blocklyTreeRow:hover,
#list-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $list-category;
    background-color: lighten($list-category, 46%);
}

#blockly\:b>.blocklyTreeRow:hover,
#variable-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $variable-category;
    background-color: lighten($variable-category, 43%);
}

#blockly\:d>.blocklyTreeRow:hover,
#function-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $function-category;
    background-color: lighten($function-category, 56%);
}

#blockly\:f>.blocklyTreeRow:hover,
#canvas-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $canvas-category;
    background-color: lighten($canvas-category, 67%);
}

#blockly\:j>.blocklyTreeRow:hover,
#shapes-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $shapes-category;
    background-color: lighten($shapes-category, 47%);
}

#blockly\:h>.blocklyTreeRow:hover,
#lines-category>.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    color: $lines-category;
    background-color: lighten($lines-category, 47%);
}

@media only screen and (max-width: 800px) {
    .categoryIcon {
        font-size: 1.25rem;
        width: 90px;
    }

    .blocklyTreeRow {
        height: 3.55rem;
        line-height: 25px;
        margin-bottom: 0px;
        padding: 0px 0px 0 0;
        white-space: nowrap;
        cursor: pointer;
        width: 95px;
    }

    .blocklyTreeLabel {
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 800px) {
    .categoryIcon {
        font-size: 1.35rem;
        width: 50px;
    }

    .blocklyTreeRow {
        height: 3.55rem;
        line-height: 50px;
        width: 55px;
    }

    .blocklyTreeLabel {
        display: none;
    }

    .blocklyTreeSeparator {
        margin: 2px 0.6rem 2px 0.6rem;

    }
}

.blocklyFlyoutButton {
    cursor: pointer;
}