.btn {
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: Arimo, Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 36px;
    letter-spacing: 0.25px;
    line-height: 16px;
    padding: 9px 24px 11px 24px;
    background: $primary-color;
    color: #fff;
    text-decoration: none;
    display: block;
    ;

    &:hover {
        background: darken($primary-color, 10);
    }

    &:focus {
        box-shadow: 0 0 0 0.125em rgba(74, 137, 220, 0.25) !important;
        outline: 0;
        //border: 1px solid rgba(74, 137, 220, 0.25) !important;
    }
}

.is-outlined {
    color: rgb(26, 115, 232);
    border-radius: 4px;
    padding: 9px 24px 11px;
    background: white;
    letter-spacing: 0.25px;
    border: 1px solid rgb(218, 220, 224);

    &:hover {
        background: rgb(248, 251, 255);
        border: 1px solid rgb(204, 224, 252);
    }
}

.is-expanded {
    width: 100%;
}

.is-disabled {
    background-color: rgb(220, 222, 226);
    cursor: default;
    outline: 0;

    &:hover {
        background-color: rgb(220, 222, 226);
    }
}

.btn-danger {
    background-color: darken($danger-color, 5);

    &:hover {
        background-color: darken($danger-color, 10);
    }
}

.btn-success {
    background-color: $success-color;
    padding: 10px 12px 11px 12px;

    &:hover {
        background-color: darken($success-color, 10);

        .tooltip .tooltiptext {
            font-weight: 500 !important;
        }
    }


}