$primary: #1E88E5;
//$primary-color: #2196F3;
$primary-color: #4a89dc;
$primary-color-light:#3B4E68;
$primary-dark-color: #0b2239;
$dark-additive-color: #ede7f6;

$light-color: #ffffff;
$border-color: #dee2e6;

$danger-color: #F44336;
$danger-color-darken: #D32F2F;

$success-color: #4CAF50;

$warn-color: #FF9800;

$debug-color: #673AB7;

$text-category: #F44336;
$math-category: #E91E63;
$loop-category: #9C27B0;
$logic-category: #673AB7;
$list-category: #3F51B5;
$variable-category: #2196F3;
$function-category: #00BCD4;
$canvas-category: #009688;
$lines-category: #4CAF50;
$shapes-category: #FF9800;