.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0.1s ease;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    padding: 1.1rem;
    margin: 1.1rem;
    max-width: 100%;
    max-height: 100%;
    min-width: 300px;
    z-index: 1001;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 16px;
    border-radius: 4px;
    color: black;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.modal-header,
.modal-footer,
.modal-body {
    display: flex;

}

.modal-header {
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;

    .title {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.modal-footer {
    justify-content: flex-end;
    margin: 1.5rem 0 0 0;
}

.modal-body {
    padding: 10px 0px;
    flex-direction: column;

    .cinput {
        background: #fff;
        font-size: 1rem;
        margin: 0;
        padding: 13px 15px;
        width: 100%;
        border: 1px solid #dadce0;
        border-radius: 4px;
        display: block;

        &:hover,
        &:focus,
        &:active,
        &:focus-within {
            box-shadow: 0 0 0 0.125em rgba(74, 137, 220, 0.25);
            border: 1px solid rgba(74, 137, 220, 0.55) !important;
            outline: 0;
        }
    }

    /*.input {
        background: #fff;
        border: 1px solid #999;
        font-size: 1rem;
        margin: 0;
        padding: 13px 15px;
        width: 100%;
        border: 1px solid #dadce0;
        border-radius: 4px;
        display: block;
    }*/
}

.btn-close {
    border: none;
    font-size: 1rem;
    font-weight: 400;
    //margin-left: 10rem;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    display: block;

}

.btn-ok {
    min-width: 5rem;
    margin-left: 1rem;
}

.btn-cancel {
    width: 5rem;
}