.form-group {
    color: #333;
    font-size: 13px;
    margin: 0 0 10px;
    width: 100%;
    display: block;

    label {
        color: #363636;
        font-weight: 500;
        display: block;
        letter-spacing: 0.3px;
        margin-bottom: 0.25rem;
        font-size: 1rem;
    }



    .text-area {
        height: 6rem;

    }

    .feedback {
        min-height: 0.9rem;
    }

    .invalid-feedback {
        color: $danger-color-darken;
        padding-top: 1px;

    }
}

.form-control {
    background: #fff;
    font-size: 0.9rem;
    margin: 0;
    padding: 9px 9px;
    width: 100%;
    border: 1px solid #dadce0;
    border-radius: 4px;
    display: block;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
        box-shadow: 0 0 0 0.125em rgba(74, 137, 220, 0.25);
        border: 1px solid rgba(74, 137, 220, 0.55) !important;
        outline: 0;
    }

    &.is-invalid {

        box-shadow: 0 0 0 0.125em rgba(211, 47, 47, 0.25);
        border: 1px solid rgba(211, 47, 47, 0.55) !important;
        outline: 0;
    }


}