.c-tab-heading {
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;

    h3 {
        margin: 0;
        padding-left: 0.25rem;
        font-size: 1.2rem;
    }
}

.c-tab-heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-small-icon {
    padding: 0.3rem;
    margin-right: 1rem;

    i {
        font-size: 1.1rem;
    }
}