.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    float: right;
    user-select: none;

    li {
        margin: 0 0.1rem;

        a {
            color: $primary-dark-color;
            float: left;
            font-size: 0.9rem;
            font-weight: 600;
            padding: 0.3rem 0.65rem;
            outline: 0;
        }

        &.active {
            background-color: $primary-color;
            border-radius: 4px;

            a {
                color: white;
            }
        }

        &.disabled {
            border-radius: 4px;

            a {
                color: $border-color;
            }

            &:hover {
                background-color: transparent;

                a {
                    color: $border-color;
                }
            }
        }

        &:hover {
            background-color: $primary-color;
            border-radius: 4px;

            a {
                color: white;
            }
        }
    }
}

.pagination-wrapper {
    text-align: right;
    grid-area: pagination;
    
    width: 100%;
}