/*@import "~bulma/sass/utilities/_all";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";*/
@import "colors";
@import "button.scss";
@import "blockly";
@import "ide-tabs";
@import "dialog";
@import "auth";
@import "form-control";
@import "pagination";


* {
    box-sizing: border-box;
}

$border-color: #dadce0;


$toolbar: 3.5rem;
$tabs: 2.5rem;

html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
}

.card {
    padding: 2rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);


}

.card-small {
    padding: 1rem;
    margin: 0 auto;
    width: 300px;
    width: 100%;
}

.card-header {
    h3 {
        margin-top: 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $border-color;
    }
}

.card-footer {
    display: flex;
    justify-content: flex-end;

}

.extended-small-card {
    padding: 0.75rem 1rem;
    width: 100%;
}

.creator {
    border-top: 3px solid rgba(76, 175, 80, 0.5);
    border-radius: 3px;
}


.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.h-100 {
    height: 100%;
}

.h-95 {
    height: 95%;
}

.small {
    font-size: 0.8rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.my-0 {
    margin: 0 0;
}

.my-1 {
    margin: 0.5rem 0;
}

.my-2 {
    margin: 1rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 1rem;
}


.listing-wrapper {
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: min-content auto 40px;
    grid-template-areas: "filter content""filter content""filter pagination";
    //padding-bottom: 1rem;
    height: 100%;
    margin-bottom: 0.5rem;

}

.listing-filter {
    //display: flex;
    /*justify-content: space-between;
    border-right: 1px solid $border-color;
    
    height: 70px;*/
    //border-right: 1px solid $border-color;
    margin-right: 1rem;
    padding: 0.75rem;


}

.filter-option {
    margin-top: 0.75rem;
    min-width: 150px;
    ;

    label {
        display: block;
        font-size: 0.85rem;
        margin: 0.2rem 0 0.2rem 0;
        font-weight: 600;
    }

}


@media only screen and (max-width: 750px) {
    .listing-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto 40px;
        grid-template-areas: "filter""content"" pagination";
        padding-bottom: 1rem;
    }

    .listing-filter {
        border-bottom: 1px solid $border-color;
        border-right: 0;
        min-height: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0.75rem 0.2rem;

    }

    .filter-option {
        margin-top: 0.75rem;
        width: 140px;
    }

    .filter-btn {
        margin-bottom: 0;
        margin-top: 0.75rem;
    }


}